In [1]:
import pandas as pd
from datetime import datetime, timedelta
import shutil
from os import remove, mkdir

In [2]:
#Importação das tabelas:
ano_bissexto = ['2000', '2004', '2008', '2012', '2016', '2020']
anos = ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
        '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016',
        '2017','2018','2019','2020','2021','2022']

#Entrada:
colunas = ['Dia', 'Hora','HBV','15 min','01 h','04 h','24 h','96 h']
pasta = input('Digite a Estação: ')

#Listas finais
Fev31_15min = []
FevNorm_15min = []

Fev31N_15min = []
FevNormN_15min = []

#Diretórios:
diretorio = r'D:\Estudo\Oficina de Pesquisa\teste'
diretorio_tratado = r'D:/Estudo/Oficina de Pesquisa/Dados Tradados'


for ano in anos:
    print(ano)
    #Tratando as entradas:
    tamanho = pasta.split()
    if len(tamanho) != 1:
        arquivo = ('_'.join(tamanho)).lower()
    else:
        arquivo = pasta.lower()
    
    #arquivo ='av_brasil_mendanha'
        
    
    mes_fev = pd.read_fwf(diretorio+'\\'+arquivo+'_'+ano+'02_Plv.txt',
                          colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                          infer_datetime_format=True, enconding='iso-8850-1',
                          names = colunas)
    mes_mar = pd.read_fwf(diretorio+'\\'+arquivo+'_'+ano+'03_Plv.txt',
                          colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                          infer_datetime_format=True, enconding='iso-8850-1',
                          names = colunas)
    
    #Concatenando as Tabelas:
    mes_concat = pd.concat([mes_fev, mes_mar], ignore_index = False)

    
    #Condição:
    if ano in ano_bissexto:
        print('É bissexto:')
        #meses[['Dia']] = meses[['Dia']].apply(pd.to_datetime)
        mes_concat['Dia'] = pd.to_datetime(mes_concat['Dia'], dayfirst= True, infer_datetime_format=True)
        meses_id = mes_concat.set_index('Dia')
        fev31 = meses_id.loc[: ano+"-03-02"]
        fevNormal = meses_id.loc[: ano+"-02-29"]
    else:
        print('Não é bissexto')
        #meses[['Dia']] = meses[['Dia']].apply(pd.to_datetime)
        mes_concat['Dia'] = pd.to_datetime(mes_concat['Dia'], dayfirst= True, infer_datetime_format=True)
        meses_id = mes_concat.set_index('Dia')
        fev31 = meses_id.loc[: ano+"-03-03"]
        fevNormal = meses_id.loc[: ano+"-02-28"]
    
    fev31 = fev31.reset_index()
    fevNormal = fevNormal.reset_index()
    
    #Fevi31
    fev31[fev31['15 min'] == 'ND'] = 0 
    fev31[['15 min']] = fev31[['15 min']].apply(pd.to_numeric)
    soma = fev31['15 min'].sum()
    norm = soma/31
    Fev31_15min.append(soma)
    Fev31N_15min.append(norm)
    

    #FevNormal
    fevNormal[fevNormal['15 min'] == 'ND'] = 0 
    fevNormal[['15 min']] = fevNormal[['15 min']].apply(pd.to_numeric)
    soma = fevNormal['15 min'].sum()
    FevNorm_15min.append(soma)
    if ano in ano_bissexto:
        norm =  soma/29
        FevNormN_15min.append(norm)
    else:
        norm = soma/28
        FevNormN_15min.append(norm)
        
    #Exportando DataFrame em csv:
    lista_de_tuplas = list(zip(anos,Fev31_15min,FevNorm_15min,Fev31N_15min, FevNormN_15min))
    df = pd.DataFrame(lista_de_tuplas, columns=['Anos','Fev31','FevNatural','Fev31N','FevNaturalN'])
    #df.to_csv(diretorio+'\\'+arquivo+'_FinalN.csv', index = False)
df

Digite a Estação: Campo Grande
1997
Não é bissexto
1998
Não é bissexto
1999
Não é bissexto
2000
É bissexto:
2001
Não é bissexto
2002
Não é bissexto
2003
Não é bissexto
2004
É bissexto:
2005
Não é bissexto
2006
Não é bissexto
2007
Não é bissexto
2008
É bissexto:
2009
Não é bissexto
2010
Não é bissexto
2011
Não é bissexto
2012
É bissexto:
2013
Não é bissexto
2014
Não é bissexto
2015
Não é bissexto
2016
É bissexto:
2017
Não é bissexto
2018
Não é bissexto
2019
Não é bissexto
2020
É bissexto:
2021
Não é bissexto
2022
Não é bissexto

    Anos  Fev31  FevNatural     Fev31N  FevNaturalN
0   1997   81.0        57.2   2.612903     2.042857
1   1998  213.3       213.3   6.880645     7.617857
2   1999   64.2        64.0   2.070968     2.285714
3   2000  139.3       139.3   4.493548     4.803448
4   2001   72.2        72.2   2.329032     2.578571
5   2002  116.8       116.8   3.767742     4.171429
6   2003   27.6         8.8   0.890323     0.314286
7   2004   86.2        86.2   2.780645     2.972414
8   2005  151.0        89.0   4.870968     3.178571
9   2006   93.2        93.2   3.006452     3.328571
10  2007  162.6       162.6   5.245161     5.807143
11  2008  175.2       164.6   5.651613     5.675862
12  2009   76.6        76.6   2.470968     2.735714
13  2010  135.2        73.8   4.361290     2.635714
14  2011   30.4        23.2   0.980645     0.828571
15  2012   74.0        74.0   2.387097     2.551724
16  2013  130.0       125.4   4.193548     4.478571
17  2014   64.4        64.2   2.077419     2.292857
18  2015  119.8       119.8   3.864516     4.278571
19  2016  137.6       128.0   4.438710     4.413793
20  2017   19.4        15.6   0.625806     0.557143
21  2018  119.2       117.8   3.845161     4.207143
22  2019  284.6       220.4   9.180645     7.871429
23  2020  339.6       272.0  10.954839     9.379310
24  2021  137.4       137.4   4.432258     4.907143
25  2022  166.6       166.6   5.374194     5.950000

In [3]:
df.mean()

Anos           7.681538e+101
Fev31           1.237462e+02
FevNatural      1.108462e+02
Fev31N          3.991811e+00
FevNaturalN     3.917862e+00
dtype: float64

In [4]:
df1= df.set_index('Anos').sort_index()
df1 = df1.loc['2014':'2022']

In [5]:
df1

      Fev31  FevNatural     Fev31N  FevNaturalN
Anos
2014   64.4        64.2   2.077419     2.292857
2015  119.8       119.8   3.864516     4.278571
2016  137.6       128.0   4.438710     4.413793
2017   19.4        15.6   0.625806     0.557143
2018  119.2       117.8   3.845161     4.207143
2019  284.6       220.4   9.180645     7.871429
2020  339.6       272.0  10.954839     9.379310
2021  137.4       137.4   4.432258     4.907143
2022  166.6       166.6   5.374194     5.950000

In [6]:
df1.mean()

Fev31          154.288889
FevNatural     137.977778
Fev31N           4.977061
FevNaturalN      4.873043
dtype: float64

In [7]:
df1 = df1.reset_index()

In [8]:
df1

   Anos  Fev31  FevNatural     Fev31N  FevNaturalN
0  2014   64.4        64.2   2.077419     2.292857
1  2015  119.8       119.8   3.864516     4.278571
2  2016  137.6       128.0   4.438710     4.413793
3  2017   19.4        15.6   0.625806     0.557143
4  2018  119.2       117.8   3.845161     4.207143
5  2019  284.6       220.4   9.180645     7.871429
6  2020  339.6       272.0  10.954839     9.379310
7  2021  137.4       137.4   4.432258     4.907143
8  2022  166.6       166.6   5.374194     5.950000