# Importações:

In [15]:
import pandas as pd
from datetime import datetime, timedelta
import shutil
#from os import remove, mkdir
from tqdm import tqdm
import os
import glob

# Preparação:

A ideia aqui é fazer uma primeira correção geral, apenas para deixar as tabelas prontas para a manipualação, que é realmente o trabalho que queremos executar.

## Listas e elementos Impostantes:

In [16]:
# Temporalidades:
ano_bissexto = ['2000', '2004', '2008', '2012', '2016', '2020']

anos = ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
        '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016',
        '2017','2018','2019','2020','2021','2022']

meses = ['01','02','03','04','05','06','07','08','09','10','11','12']

# Estações:
estacoes = ['Vidigal','Urca','Rocinha','Tijuca','Santa Teresa','Copacabana',
            'Grajau','Ilha do Governador','Penha','Madureira','Iraja','Bangu',
            'Piedade','Tanque','Saude','Jardim Botanico','Barrinha',
            'Cidade de Deus','Riocentro','Guaratiba','Grajau Jacarepagua',
            'Santa Cruz','Grande Meier','Anchieta','Grota Funda','Campo Grande',
            'Sepetiba','Alto da Boa Vista','Av Brasil Mendanha','Recreio',
            'Laranjeiras','Sao Cristovao','Tijuca Muda']


#Diretórios:
diretorio = r'D:\Estudo\Oficina de Pesquisa\Dados Brutos'
diretorio_tratado = r'D:\Estudo\Oficina de Pesquisa\Dados Tratados'
diretorio_totais = r'D:\Estudo\Oficina de Pesquisa\Totais'

# Nome das Colunas - Para a importação:
colunas = ['Dia', 'Hora','HBV','15 min','01 h','04 h','24 h','96 h']

# Valor defaut para estações - Tem estação que não tem o valor, ai usa-se o valor default:
defaut = float(0)

## Funções Utilizadas

In [17]:
def trata_palavra(palavra):
    '''
        O nome do arquivo é o mesmo nome da pasta, porém em letras 
    minúsculas e sem espaço, ou seja, ao invés de criar outra lista com
    os nomes dos arquivos, é muito mais interessante, tratar o nome da pasta
    de modo que ela seja também, após tratada, utilizada como nome do arquivo.
    '''    
    tamanho = estacao.split()
    if len(tamanho) != 1:
        arquivo = ('_'.join(tamanho)).lower()
    else:
        arquivo = estacao.lower()
        
    return arquivo # Arquivo tratado

def checa_quantidade(quantidade, tamanho_lista=len(estacoes)):
    '''
        Na construção inicial do código, por vezes, eu senti dificuldade para
    saber se todos as estações tinham sido lidas, então, criei esse jeito mais
    visual de checar se todas as estações de fato foram trabalhadas.
    '''
    
    if quantidade != tamanho_lista:
        print(f'{quantidade} DataFrames construidos onde eram esperados {tamanho_lista}... Tem algo de errado ai')
    else:
        print(f'{quantidade} DataFrames construidos. :)')

# Correção Geral:

In [18]:
qtd = 0 # Contagem das estações:
for estacao in estacoes:
    print(f'iniciando tratamendo da estação {estacao}')
    #Tratando as entradas:
    arquivo = trata_palavra(estacao)
    qtd += 1 #Essa contagem aqui serve só no final, pra uma informação visual se foi tudo certinho.
    
    # Criando a pasta da estacao caso ela não exista
    estacao_dir = os.path.join(diretorio_tratado, estacao)
    if not os.path.exists(estacao_dir):
        os.mkdir(estacao_dir)
        
    for ano in tqdm(anos):
        for mes in meses:
            try:
                # Lendo um arquivo:
                with open(diretorio+'\\'+estacao+'\\'+arquivo+'_'+ano+mes+'_Plv.txt', 'r') as arq_r:
                    linhas = arq_r.readlines()
                
                # Salvando em outro arquivo:
                with open(estacao_dir+'\\'+arquivo+'_'+ano+mes+'_Plv.txt', 'w') as arq_w:
                    for i, linha in enumerate(linhas):
                        if i>=5:
                            arq_w.write(linha)
            except:
                print(f'A estação {estacao} não possui o mes {mes} do ano {ano}')
    print(f'Tratamento da estação {estacao} concluido :)\n')
    
# Checagem visual:
checa_quantidade(qtd,len(estacoes)) # Para saber se todas as estações foram corrigidas:

iniciando tratamendo da estação Vidigal

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:07<00:00,  3.32it/s]

A estação Vidigal não possui o mes 10 do ano 2022
A estação Vidigal não possui o mes 11 do ano 2022
A estação Vidigal não possui o mes 12 do ano 2022
Tratamento da estação Vidigal concluido :)

iniciando tratamendo da estação Urca

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:11<00:00,  2.31it/s]

A estação Urca não possui o mes 10 do ano 2022
A estação Urca não possui o mes 11 do ano 2022
A estação Urca não possui o mes 12 do ano 2022
Tratamento da estação Urca concluido :)

iniciando tratamendo da estação Rocinha

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:21<00:00,  1.19it/s]

A estação Rocinha não possui o mes 10 do ano 2022
A estação Rocinha não possui o mes 11 do ano 2022
A estação Rocinha não possui o mes 12 do ano 2022
Tratamento da estação Rocinha concluido :)

iniciando tratamendo da estação Tijuca

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:10<00:00,  2.43it/s]

A estação Tijuca não possui o mes 10 do ano 2022
A estação Tijuca não possui o mes 11 do ano 2022
A estação Tijuca não possui o mes 12 do ano 2022
Tratamento da estação Tijuca concluido :)

iniciando tratamendo da estação Santa Teresa

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:21<00:00,  1.23it/s]

A estação Santa Teresa não possui o mes 10 do ano 2022
A estação Santa Teresa não possui o mes 11 do ano 2022
A estação Santa Teresa não possui o mes 12 do ano 2022
Tratamento da estação Santa Teresa concluido :)

iniciando tratamendo da estação Copacabana

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:08<00:00,  3.12it/s]

A estação Copacabana não possui o mes 10 do ano 2022
A estação Copacabana não possui o mes 11 do ano 2022
A estação Copacabana não possui o mes 12 do ano 2022
Tratamento da estação Copacabana concluido :)

iniciando tratamendo da estação Grajau

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:11<00:00,  2.25it/s]

A estação Grajau não possui o mes 10 do ano 2022
A estação Grajau não possui o mes 11 do ano 2022
A estação Grajau não possui o mes 12 do ano 2022
Tratamento da estação Grajau concluido :)

iniciando tratamendo da estação Ilha do Governador

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:11<00:00,  2.17it/s]

A estação Ilha do Governador não possui o mes 10 do ano 2022
A estação Ilha do Governador não possui o mes 11 do ano 2022
A estação Ilha do Governador não possui o mes 12 do ano 2022
Tratamento da estação Ilha do Governador concluido :)

iniciando tratamendo da estação Penha

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:14<00:00,  1.78it/s]

A estação Penha não possui o mes 10 do ano 2022
A estação Penha não possui o mes 11 do ano 2022
A estação Penha não possui o mes 12 do ano 2022
Tratamento da estação Penha concluido :)

iniciando tratamendo da estação Madureira

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:28<00:00,  1.11s/it]

A estação Madureira não possui o mes 10 do ano 2022
A estação Madureira não possui o mes 11 do ano 2022
A estação Madureira não possui o mes 12 do ano 2022
Tratamento da estação Madureira concluido :)

iniciando tratamendo da estação Iraja

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:06<00:00,  3.89it/s]

A estação Iraja não possui o mes 10 do ano 2022
A estação Iraja não possui o mes 11 do ano 2022
A estação Iraja não possui o mes 12 do ano 2022
Tratamento da estação Iraja concluido :)

iniciando tratamendo da estação Bangu

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:09<00:00,  2.75it/s]

A estação Bangu não possui o mes 10 do ano 2022
A estação Bangu não possui o mes 11 do ano 2022
A estação Bangu não possui o mes 12 do ano 2022
Tratamento da estação Bangu concluido :)

iniciando tratamendo da estação Piedade

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:11<00:00,  2.34it/s]

A estação Piedade não possui o mes 10 do ano 2022
A estação Piedade não possui o mes 11 do ano 2022
A estação Piedade não possui o mes 12 do ano 2022
Tratamento da estação Piedade concluido :)

iniciando tratamendo da estação Tanque

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:13<00:00,  1.93it/s]

A estação Tanque não possui o mes 10 do ano 2022
A estação Tanque não possui o mes 11 do ano 2022
A estação Tanque não possui o mes 12 do ano 2022
Tratamento da estação Tanque concluido :)

iniciando tratamendo da estação Saude

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:12<00:00,  2.06it/s]

A estação Saude não possui o mes 10 do ano 2022
A estação Saude não possui o mes 11 do ano 2022
A estação Saude não possui o mes 12 do ano 2022
Tratamento da estação Saude concluido :)

iniciando tratamendo da estação Jardim Botanico

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:10<00:00,  2.38it/s]

A estação Jardim Botanico não possui o mes 10 do ano 2022
A estação Jardim Botanico não possui o mes 11 do ano 2022
A estação Jardim Botanico não possui o mes 12 do ano 2022
Tratamento da estação Jardim Botanico concluido :)

iniciando tratamendo da estação Barrinha

  0%|                                                                                           | 0/26 [00:00<?, ?it/s]

A estação Barrinha não possui o mes 01 do ano 1997
A estação Barrinha não possui o mes 02 do ano 1997
A estação Barrinha não possui o mes 03 do ano 1997
A estação Barrinha não possui o mes 04 do ano 1997
A estação Barrinha não possui o mes 05 do ano 1997
A estação Barrinha não possui o mes 06 do ano 1997
A estação Barrinha não possui o mes 07 do ano 1997
A estação Barrinha não possui o mes 08 do ano 1997
A estação Barrinha não possui o mes 09 do ano 1997
A estação Barrinha não possui o mes 10 do ano 1997
A estação Barrinha não possui o mes 11 do ano 1997
A estação Barrinha não possui o mes 12 do ano 1997
A estação Barrinha não possui o mes 01 do ano 1998
A estação Barrinha não possui o mes 02 do ano 1998
A estação Barrinha não possui o mes 03 do ano 1998
A estação Barrinha não possui o mes 04 do ano 1998
A estação Barrinha não possui o mes 05 do ano 1998
A estação Barrinha não possui o mes 06 do ano 1998
A estação Barrinha não possui o mes 07 do ano 1998
A estação Barrinha não possui o mes 08 do ano 1998
A estação Barrinha não possui o mes 09 do ano 1998
A estação Barrinha não possui o mes 10 do ano 1998
A estação Barrinha não possui o mes 11 do ano 1998
A estação Barrinha não possui o mes 12 do ano 1998
A estação Barrinha não possui o mes 01 do ano 1999
A estação Barrinha não possui o mes 02 do ano 1999
A estação Barrinha não possui o mes 03 do ano 1999
A estação Barrinha não possui o mes 04 do ano 1999
A estação Barrinha não possui o mes 05 do ano 1999
A estação Barrinha não possui o mes 06 do ano 1999
A estação Barrinha não possui o mes 07 do ano 1999
A estação Barrinha não possui o mes 08 do ano 1999
A estação Barrinha não possui o mes 09 do ano 1999
A estação Barrinha não possui o mes 10 do ano 1999
A estação Barrinha não possui o mes 11 do ano 1999
A estação Barrinha não possui o mes 12 do ano 1999
A estação Barrinha não possui o mes 01 do ano 2000
A estação Barrinha não possui o mes 02 do ano 2000
A estação Barrinha não possui o mes 03 do ano 2000
A estação Barrinha não possui o mes 04 do ano 2000
A estação Barrinha não possui o mes 05 do ano 2000
A estação Barrinha não possui o mes 06 do ano 2000
A estação Barrinha não possui o mes 07 do ano 2000
A estação Barrinha não possui o mes 08 do ano 2000
A estação Barrinha não possui o mes 09 do ano 2000
A estação Barrinha não possui o mes 10 do ano 2000
A estação Barrinha não possui o mes 11 do ano 2000
A estação Barrinha não possui o mes 12 do ano 2000
A estação Barrinha não possui o mes 01 do ano 2001
A estação Barrinha não possui o mes 02 do ano 2001
A estação Barrinha não possui o mes 03 do ano 2001
A estação Barrinha não possui o mes 04 do ano 2001
A estação Barrinha não possui o mes 05 do ano 2001
A estação Barrinha não possui o mes 06 do ano 2001
A estação Barrinha não possui o mes 07 do ano 2001
A estação Barrinha não possui o mes 08 do ano 2001
A estação Barrinha não possui o mes 09 do ano 2001
A estação Barrinha não possui o mes 10 do ano 2001
A estação Barrinha não possui o mes 11 do ano 2001
A estação Barrinha não possui o mes 12 do ano 2001
A estação Barrinha não possui o mes 01 do ano 2002
A estação Barrinha não possui o mes 02 do ano 2002
A estação Barrinha não possui o mes 03 do ano 2002
A estação Barrinha não possui o mes 04 do ano 2002
A estação Barrinha não possui o mes 05 do ano 2002
A estação Barrinha não possui o mes 06 do ano 2002
A estação Barrinha não possui o mes 07 do ano 2002
A estação Barrinha não possui o mes 08 do ano 2002
A estação Barrinha não possui o mes 09 do ano 2002
A estação Barrinha não possui o mes 10 do ano 2002
A estação Barrinha não possui o mes 11 do ano 2002
A estação Barrinha não possui o mes 12 do ano 2002
A estação Barrinha não possui o mes 01 do ano 2003
A estação Barrinha não possui o mes 02 do ano 2003
A estação Barrinha não possui o mes 03 do ano 2003
A estação Barrinha não possui o mes 04 do ano 2003
A estação Barrinha não possui o mes 05 do ano 2003
A estação Barrinha não possui o mes 06 do ano 2003
A estação Barrinha não possui o mes 07 do ano 2003
A estação Barrinha não possui o mes 08 do ano 2003
A estação Barrinha não possui o mes 09 do ano 2003
A estação Barrinha não possui o mes 10 do ano 2003
A estação Barrinha não possui o mes 11 do ano 2003
A estação Barrinha não possui o mes 12 do ano 2003
A estação Barrinha não possui o mes 01 do ano 2004
A estação Barrinha não possui o mes 02 do ano 2004
A estação Barrinha não possui o mes 03 do ano 2004
A estação Barrinha não possui o mes 04 do ano 2004
A estação Barrinha não possui o mes 05 do ano 2004
A estação Barrinha não possui o mes 06 do ano 2004
A estação Barrinha não possui o mes 07 do ano 2004
A estação Barrinha não possui o mes 08 do ano 2004
A estação Barrinha não possui o mes 09 do ano 2004
A estação Barrinha não possui o mes 10 do ano 2004
A estação Barrinha não possui o mes 11 do ano 2004
A estação Barrinha não possui o mes 12 do ano 2004
A estação Barrinha não possui o mes 01 do ano 2005
A estação Barrinha não possui o mes 02 do ano 2005
A estação Barrinha não possui o mes 03 do ano 2005
A estação Barrinha não possui o mes 04 do ano 2005
A estação Barrinha não possui o mes 05 do ano 2005
A estação Barrinha não possui o mes 06 do ano 2005
A estação Barrinha não possui o mes 07 do ano 2005
A estação Barrinha não possui o mes 08 do ano 2005
A estação Barrinha não possui o mes 09 do ano 2005
A estação Barrinha não possui o mes 10 do ano 2005
A estação Barrinha não possui o mes 11 do ano 2005
A estação Barrinha não possui o mes 12 do ano 2005
A estação Barrinha não possui o mes 01 do ano 2006
A estação Barrinha não possui o mes 02 do ano 2006
A estação Barrinha não possui o mes 03 do ano 2006
A estação Barrinha não possui o mes 04 do ano 2006
A estação Barrinha não possui o mes 05 do ano 2006
A estação Barrinha não possui o mes 06 do ano 2006
A estação Barrinha não possui o mes 07 do ano 2006
A estação Barrinha não possui o mes 08 do ano 2006
A estação Barrinha não possui o mes 09 do ano 2006
A estação Barrinha não possui o mes 10 do ano 2006
A estação Barrinha não possui o mes 11 do ano 2006
A estação Barrinha não possui o mes 12 do ano 2006
A estação Barrinha não possui o mes 01 do ano 2007
A estação Barrinha não possui o mes 02 do ano 2007
A estação Barrinha não possui o mes 03 do ano 2007
A estação Barrinha não possui o mes 04 do ano 2007
A estação Barrinha não possui o mes 05 do ano 2007
A estação Barrinha não possui o mes 06 do ano 2007
A estação Barrinha não possui o mes 07 do ano 2007
A estação Barrinha não possui o mes 08 do ano 2007
A estação Barrinha não possui o mes 09 do ano 2007
A estação Barrinha não possui o mes 10 do ano 2007
A estação Barrinha não possui o mes 11 do ano 2007
A estação Barrinha não possui o mes 12 do ano 2007
A estação Barrinha não possui o mes 01 do ano 2008
A estação Barrinha não possui o mes 02 do ano 2008
A estação Barrinha não possui o mes 03 do ano 2008
A estação Barrinha não possui o mes 04 do ano 2008
A estação Barrinha não possui o mes 05 do ano 2008
A estação Barrinha não possui o mes 06 do ano 2008
A estação Barrinha não possui o mes 07 do ano 2008
A estação Barrinha não possui o mes 08 do ano 2008
A estação Barrinha não possui o mes 09 do ano 2008
A estação Barrinha não possui o mes 10 do ano 2008
A estação Barrinha não possui o mes 11 do ano 2008
A estação Barrinha não possui o mes 12 do ano 2008
A estação Barrinha não possui o mes 01 do ano 2009
A estação Barrinha não possui o mes 02 do ano 2009
A estação Barrinha não possui o mes 03 do ano 2009
A estação Barrinha não possui o mes 04 do ano 2009
A estação Barrinha não possui o mes 05 do ano 2009
A estação Barrinha não possui o mes 06 do ano 2009
A estação Barrinha não possui o mes 07 do ano 2009
A estação Barrinha não possui o mes 08 do ano 2009
A estação Barrinha não possui o mes 09 do ano 2009
A estação Barrinha não possui o mes 10 do ano 2009
A estação Barrinha não possui o mes 11 do ano 2009
A estação Barrinha não possui o mes 12 do ano 2009
A estação Barrinha não possui o mes 01 do ano 2010
A estação Barrinha não possui o mes 02 do ano 2010
A estação Barrinha não possui o mes 03 do ano 2010
A estação Barrinha não possui o mes 04 do ano 2010
A estação Barrinha não possui o mes 05 do ano 2010
A estação Barrinha não possui o mes 06 do ano 2010
A estação Barrinha não possui o mes 07 do ano 2010
A estação Barrinha não possui o mes 08 do ano 2010
A estação Barrinha não possui o mes 09 do ano 2010
A estação Barrinha não possui o mes 10 do ano 2010
A estação Barrinha não possui o mes 11 do ano 2010
A estação Barrinha não possui o mes 12 do ano 2010
A estação Barrinha não possui o mes 01 do ano 2011
A estação Barrinha não possui o mes 02 do ano 2011
A estação Barrinha não possui o mes 03 do ano 2011
A estação Barrinha não possui o mes 04 do ano 2011
A estação Barrinha não possui o mes 05 do ano 2011
A estação Barrinha não possui o mes 06 do ano 2011
A estação Barrinha não possui o mes 07 do ano 2011
A estação Barrinha não possui o mes 08 do ano 2011
A estação Barrinha não possui o mes 09 do ano 2011
A estação Barrinha não possui o mes 10 do ano 2011
A estação Barrinha não possui o mes 11 do ano 2011
A estação Barrinha não possui o mes 12 do ano 2011
A estação Barrinha não possui o mes 01 do ano 2012
A estação Barrinha não possui o mes 02 do ano 2012
A estação Barrinha não possui o mes 03 do ano 2012
A estação Barrinha não possui o mes 04 do ano 2012
A estação Barrinha não possui o mes 05 do ano 2012
A estação Barrinha não possui o mes 06 do ano 2012
A estação Barrinha não possui o mes 07 do ano 2012
A estação Barrinha não possui o mes 08 do ano 2012
A estação Barrinha não possui o mes 09 do ano 2012
A estação Barrinha não possui o mes 10 do ano 2012
A estação Barrinha não possui o mes 11 do ano 2012
A estação Barrinha não possui o mes 12 do ano 2012

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:04<00:00,  5.62it/s]

A estação Barrinha não possui o mes 10 do ano 2022
A estação Barrinha não possui o mes 11 do ano 2022
A estação Barrinha não possui o mes 12 do ano 2022
Tratamento da estação Barrinha concluido :)

iniciando tratamendo da estação Cidade de Deus

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:14<00:00,  1.76it/s]

A estação Cidade de Deus não possui o mes 10 do ano 2022
A estação Cidade de Deus não possui o mes 11 do ano 2022
A estação Cidade de Deus não possui o mes 12 do ano 2022
Tratamento da estação Cidade de Deus concluido :)

iniciando tratamendo da estação Riocentro

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:11<00:00,  2.29it/s]

A estação Riocentro não possui o mes 10 do ano 2022
A estação Riocentro não possui o mes 11 do ano 2022
A estação Riocentro não possui o mes 12 do ano 2022
Tratamento da estação Riocentro concluido :)

iniciando tratamendo da estação Guaratiba

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:19<00:00,  1.35it/s]

A estação Guaratiba não possui o mes 10 do ano 2022
A estação Guaratiba não possui o mes 11 do ano 2022
A estação Guaratiba não possui o mes 12 do ano 2022
Tratamento da estação Guaratiba concluido :)

iniciando tratamendo da estação Grajau Jacarepagua

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:04<00:00,  6.29it/s]

A estação Grajau Jacarepagua não possui o mes 10 do ano 2022
A estação Grajau Jacarepagua não possui o mes 11 do ano 2022
A estação Grajau Jacarepagua não possui o mes 12 do ano 2022
Tratamento da estação Grajau Jacarepagua concluido :)

iniciando tratamendo da estação Santa Cruz

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:07<00:00,  3.49it/s]

A estação Santa Cruz não possui o mes 10 do ano 2022
A estação Santa Cruz não possui o mes 11 do ano 2022
A estação Santa Cruz não possui o mes 12 do ano 2022
Tratamento da estação Santa Cruz concluido :)

iniciando tratamendo da estação Grande Meier

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:09<00:00,  2.66it/s]

A estação Grande Meier não possui o mes 10 do ano 2022
A estação Grande Meier não possui o mes 11 do ano 2022
A estação Grande Meier não possui o mes 12 do ano 2022
Tratamento da estação Grande Meier concluido :)

iniciando tratamendo da estação Anchieta

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:09<00:00,  2.61it/s]

A estação Anchieta não possui o mes 10 do ano 2022
A estação Anchieta não possui o mes 11 do ano 2022
A estação Anchieta não possui o mes 12 do ano 2022
Tratamento da estação Anchieta concluido :)

iniciando tratamendo da estação Grota Funda

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:14<00:00,  1.85it/s]

A estação Grota Funda não possui o mes 10 do ano 2022
A estação Grota Funda não possui o mes 11 do ano 2022
A estação Grota Funda não possui o mes 12 do ano 2022
Tratamento da estação Grota Funda concluido :)

iniciando tratamendo da estação Campo Grande

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:12<00:00,  2.13it/s]

A estação Campo Grande não possui o mes 10 do ano 2022
A estação Campo Grande não possui o mes 11 do ano 2022
A estação Campo Grande não possui o mes 12 do ano 2022
Tratamento da estação Campo Grande concluido :)

iniciando tratamendo da estação Sepetiba

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:16<00:00,  1.55it/s]

A estação Sepetiba não possui o mes 10 do ano 2022
A estação Sepetiba não possui o mes 11 do ano 2022
A estação Sepetiba não possui o mes 12 do ano 2022
Tratamento da estação Sepetiba concluido :)

iniciando tratamendo da estação Alto da Boa Vista

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:05<00:00,  5.08it/s]

A estação Alto da Boa Vista não possui o mes 10 do ano 2022
A estação Alto da Boa Vista não possui o mes 11 do ano 2022
A estação Alto da Boa Vista não possui o mes 12 do ano 2022
Tratamento da estação Alto da Boa Vista concluido :)

iniciando tratamendo da estação Av Brasil Mendanha

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:04<00:00,  5.77it/s]

A estação Av Brasil Mendanha não possui o mes 10 do ano 2022
A estação Av Brasil Mendanha não possui o mes 11 do ano 2022
A estação Av Brasil Mendanha não possui o mes 12 do ano 2022
Tratamento da estação Av Brasil Mendanha concluido :)

iniciando tratamendo da estação Recreio

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:08<00:00,  3.19it/s]

A estação Recreio não possui o mes 10 do ano 2022
A estação Recreio não possui o mes 11 do ano 2022
A estação Recreio não possui o mes 12 do ano 2022
Tratamento da estação Recreio concluido :)

iniciando tratamendo da estação Laranjeiras

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:15<00:00,  1.67it/s]

A estação Laranjeiras não possui o mes 10 do ano 2022
A estação Laranjeiras não possui o mes 11 do ano 2022
A estação Laranjeiras não possui o mes 12 do ano 2022
Tratamento da estação Laranjeiras concluido :)

iniciando tratamendo da estação Sao Cristovao

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:05<00:00,  4.92it/s]

A estação Sao Cristovao não possui o mes 10 do ano 2022
A estação Sao Cristovao não possui o mes 11 do ano 2022
A estação Sao Cristovao não possui o mes 12 do ano 2022
Tratamento da estação Sao Cristovao concluido :)

iniciando tratamendo da estação Tijuca Muda

  0%|                                                                                           | 0/26 [00:00<?, ?it/s]

A estação Tijuca Muda não possui o mes 01 do ano 1997
A estação Tijuca Muda não possui o mes 02 do ano 1997
A estação Tijuca Muda não possui o mes 03 do ano 1997
A estação Tijuca Muda não possui o mes 04 do ano 1997
A estação Tijuca Muda não possui o mes 05 do ano 1997
A estação Tijuca Muda não possui o mes 06 do ano 1997
A estação Tijuca Muda não possui o mes 07 do ano 1997
A estação Tijuca Muda não possui o mes 08 do ano 1997
A estação Tijuca Muda não possui o mes 09 do ano 1997
A estação Tijuca Muda não possui o mes 10 do ano 1997
A estação Tijuca Muda não possui o mes 11 do ano 1997
A estação Tijuca Muda não possui o mes 12 do ano 1997
A estação Tijuca Muda não possui o mes 01 do ano 1998
A estação Tijuca Muda não possui o mes 02 do ano 1998
A estação Tijuca Muda não possui o mes 03 do ano 1998
A estação Tijuca Muda não possui o mes 04 do ano 1998
A estação Tijuca Muda não possui o mes 05 do ano 1998
A estação Tijuca Muda não possui o mes 06 do ano 1998
A estação Tijuca Muda não possui o mes 07 do ano 1998
A estação Tijuca Muda não possui o mes 08 do ano 1998
A estação Tijuca Muda não possui o mes 09 do ano 1998
A estação Tijuca Muda não possui o mes 10 do ano 1998
A estação Tijuca Muda não possui o mes 11 do ano 1998
A estação Tijuca Muda não possui o mes 12 do ano 1998
A estação Tijuca Muda não possui o mes 01 do ano 1999
A estação Tijuca Muda não possui o mes 02 do ano 1999
A estação Tijuca Muda não possui o mes 03 do ano 1999
A estação Tijuca Muda não possui o mes 04 do ano 1999
A estação Tijuca Muda não possui o mes 05 do ano 1999
A estação Tijuca Muda não possui o mes 06 do ano 1999
A estação Tijuca Muda não possui o mes 07 do ano 1999
A estação Tijuca Muda não possui o mes 08 do ano 1999
A estação Tijuca Muda não possui o mes 09 do ano 1999
A estação Tijuca Muda não possui o mes 10 do ano 1999
A estação Tijuca Muda não possui o mes 11 do ano 1999
A estação Tijuca Muda não possui o mes 12 do ano 1999
A estação Tijuca Muda não possui o mes 01 do ano 2000
A estação Tijuca Muda não possui o mes 02 do ano 2000
A estação Tijuca Muda não possui o mes 03 do ano 2000
A estação Tijuca Muda não possui o mes 04 do ano 2000
A estação Tijuca Muda não possui o mes 05 do ano 2000
A estação Tijuca Muda não possui o mes 06 do ano 2000
A estação Tijuca Muda não possui o mes 07 do ano 2000
A estação Tijuca Muda não possui o mes 08 do ano 2000
A estação Tijuca Muda não possui o mes 09 do ano 2000
A estação Tijuca Muda não possui o mes 10 do ano 2000
A estação Tijuca Muda não possui o mes 11 do ano 2000
A estação Tijuca Muda não possui o mes 12 do ano 2000
A estação Tijuca Muda não possui o mes 01 do ano 2001
A estação Tijuca Muda não possui o mes 02 do ano 2001
A estação Tijuca Muda não possui o mes 03 do ano 2001
A estação Tijuca Muda não possui o mes 04 do ano 2001
A estação Tijuca Muda não possui o mes 05 do ano 2001
A estação Tijuca Muda não possui o mes 06 do ano 2001
A estação Tijuca Muda não possui o mes 07 do ano 2001
A estação Tijuca Muda não possui o mes 08 do ano 2001
A estação Tijuca Muda não possui o mes 09 do ano 2001
A estação Tijuca Muda não possui o mes 10 do ano 2001
A estação Tijuca Muda não possui o mes 11 do ano 2001
A estação Tijuca Muda não possui o mes 12 do ano 2001
A estação Tijuca Muda não possui o mes 01 do ano 2002
A estação Tijuca Muda não possui o mes 02 do ano 2002
A estação Tijuca Muda não possui o mes 03 do ano 2002
A estação Tijuca Muda não possui o mes 04 do ano 2002
A estação Tijuca Muda não possui o mes 05 do ano 2002
A estação Tijuca Muda não possui o mes 06 do ano 2002
A estação Tijuca Muda não possui o mes 07 do ano 2002
A estação Tijuca Muda não possui o mes 08 do ano 2002
A estação Tijuca Muda não possui o mes 09 do ano 2002
A estação Tijuca Muda não possui o mes 10 do ano 2002
A estação Tijuca Muda não possui o mes 11 do ano 2002
A estação Tijuca Muda não possui o mes 12 do ano 2002
A estação Tijuca Muda não possui o mes 01 do ano 2003
A estação Tijuca Muda não possui o mes 02 do ano 2003
A estação Tijuca Muda não possui o mes 03 do ano 2003
A estação Tijuca Muda não possui o mes 04 do ano 2003
A estação Tijuca Muda não possui o mes 05 do ano 2003
A estação Tijuca Muda não possui o mes 06 do ano 2003
A estação Tijuca Muda não possui o mes 07 do ano 2003
A estação Tijuca Muda não possui o mes 08 do ano 2003
A estação Tijuca Muda não possui o mes 09 do ano 2003
A estação Tijuca Muda não possui o mes 10 do ano 2003
A estação Tijuca Muda não possui o mes 11 do ano 2003
A estação Tijuca Muda não possui o mes 12 do ano 2003
A estação Tijuca Muda não possui o mes 01 do ano 2004
A estação Tijuca Muda não possui o mes 02 do ano 2004
A estação Tijuca Muda não possui o mes 03 do ano 2004
A estação Tijuca Muda não possui o mes 04 do ano 2004
A estação Tijuca Muda não possui o mes 05 do ano 2004
A estação Tijuca Muda não possui o mes 06 do ano 2004
A estação Tijuca Muda não possui o mes 07 do ano 2004
A estação Tijuca Muda não possui o mes 08 do ano 2004
A estação Tijuca Muda não possui o mes 09 do ano 2004
A estação Tijuca Muda não possui o mes 10 do ano 2004
A estação Tijuca Muda não possui o mes 11 do ano 2004
A estação Tijuca Muda não possui o mes 12 do ano 2004
A estação Tijuca Muda não possui o mes 01 do ano 2005
A estação Tijuca Muda não possui o mes 02 do ano 2005
A estação Tijuca Muda não possui o mes 03 do ano 2005
A estação Tijuca Muda não possui o mes 04 do ano 2005
A estação Tijuca Muda não possui o mes 05 do ano 2005
A estação Tijuca Muda não possui o mes 06 do ano 2005
A estação Tijuca Muda não possui o mes 07 do ano 2005
A estação Tijuca Muda não possui o mes 08 do ano 2005
A estação Tijuca Muda não possui o mes 09 do ano 2005
A estação Tijuca Muda não possui o mes 10 do ano 2005
A estação Tijuca Muda não possui o mes 11 do ano 2005
A estação Tijuca Muda não possui o mes 12 do ano 2005
A estação Tijuca Muda não possui o mes 01 do ano 2006
A estação Tijuca Muda não possui o mes 02 do ano 2006
A estação Tijuca Muda não possui o mes 03 do ano 2006
A estação Tijuca Muda não possui o mes 04 do ano 2006
A estação Tijuca Muda não possui o mes 05 do ano 2006
A estação Tijuca Muda não possui o mes 06 do ano 2006
A estação Tijuca Muda não possui o mes 07 do ano 2006
A estação Tijuca Muda não possui o mes 08 do ano 2006
A estação Tijuca Muda não possui o mes 09 do ano 2006
A estação Tijuca Muda não possui o mes 10 do ano 2006
A estação Tijuca Muda não possui o mes 11 do ano 2006
A estação Tijuca Muda não possui o mes 12 do ano 2006
A estação Tijuca Muda não possui o mes 01 do ano 2007
A estação Tijuca Muda não possui o mes 02 do ano 2007
A estação Tijuca Muda não possui o mes 03 do ano 2007
A estação Tijuca Muda não possui o mes 04 do ano 2007
A estação Tijuca Muda não possui o mes 05 do ano 2007
A estação Tijuca Muda não possui o mes 06 do ano 2007
A estação Tijuca Muda não possui o mes 07 do ano 2007
A estação Tijuca Muda não possui o mes 08 do ano 2007
A estação Tijuca Muda não possui o mes 09 do ano 2007
A estação Tijuca Muda não possui o mes 10 do ano 2007
A estação Tijuca Muda não possui o mes 11 do ano 2007
A estação Tijuca Muda não possui o mes 12 do ano 2007
A estação Tijuca Muda não possui o mes 01 do ano 2008
A estação Tijuca Muda não possui o mes 02 do ano 2008
A estação Tijuca Muda não possui o mes 03 do ano 2008
A estação Tijuca Muda não possui o mes 04 do ano 2008
A estação Tijuca Muda não possui o mes 05 do ano 2008
A estação Tijuca Muda não possui o mes 06 do ano 2008
A estação Tijuca Muda não possui o mes 07 do ano 2008
A estação Tijuca Muda não possui o mes 08 do ano 2008
A estação Tijuca Muda não possui o mes 09 do ano 2008
A estação Tijuca Muda não possui o mes 10 do ano 2008
A estação Tijuca Muda não possui o mes 11 do ano 2008
A estação Tijuca Muda não possui o mes 12 do ano 2008
A estação Tijuca Muda não possui o mes 01 do ano 2009
A estação Tijuca Muda não possui o mes 02 do ano 2009
A estação Tijuca Muda não possui o mes 03 do ano 2009
A estação Tijuca Muda não possui o mes 04 do ano 2009
A estação Tijuca Muda não possui o mes 05 do ano 2009
A estação Tijuca Muda não possui o mes 06 do ano 2009
A estação Tijuca Muda não possui o mes 07 do ano 2009
A estação Tijuca Muda não possui o mes 08 do ano 2009
A estação Tijuca Muda não possui o mes 09 do ano 2009
A estação Tijuca Muda não possui o mes 10 do ano 2009
A estação Tijuca Muda não possui o mes 11 do ano 2009
A estação Tijuca Muda não possui o mes 12 do ano 2009
A estação Tijuca Muda não possui o mes 01 do ano 2010
A estação Tijuca Muda não possui o mes 02 do ano 2010
A estação Tijuca Muda não possui o mes 03 do ano 2010
A estação Tijuca Muda não possui o mes 04 do ano 2010
A estação Tijuca Muda não possui o mes 05 do ano 2010
A estação Tijuca Muda não possui o mes 06 do ano 2010
A estação Tijuca Muda não possui o mes 07 do ano 2010
A estação Tijuca Muda não possui o mes 08 do ano 2010
A estação Tijuca Muda não possui o mes 09 do ano 2010
A estação Tijuca Muda não possui o mes 10 do ano 2010
A estação Tijuca Muda não possui o mes 11 do ano 2010
A estação Tijuca Muda não possui o mes 12 do ano 2010

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:05<00:00,  5.13it/s]

A estação Tijuca Muda não possui o mes 10 do ano 2022
A estação Tijuca Muda não possui o mes 11 do ano 2022
A estação Tijuca Muda não possui o mes 12 do ano 2022
Tratamento da estação Tijuca Muda concluido :)

33 DataFrames construidos. :)

# Manipulação dos dados:

## Tabelas com o Fevereiro de 31 dias:

A ideia aqui é criar uma tabela com o fevereiro natural, Fevereiro de 31 dias e Março, e criar uma tabela com esses valores normalizados. Cada linha é um ano, cada mês é uma coluna.

In [19]:
# Criando os DataFrames:
qtd = 0 # Contagem das estações:
for estacao in estacoes:
    # Listas - Valores Absolutos:
    soma_fev = []
    soma_fev31 = []
    soma_mar = []
    
    # Listas - Valores Nomalizados
    soma_fevN = []
    soma_fev31N = []
    soma_marN = []
    
    print(f'Iniciando construção do DataFrame da estação {estacao}...')
    #Tratando as entradas:
    arquivo = trata_palavra(estacao)
    qtd += 1 #Essa contagem aqui serve só no final, pra uma informação visual se foi tudo certinho.
    
    estacao_dir = os.path.join(diretorio_tratado, estacao)
    
    for ano in tqdm(anos):
        try:
            df_fev = pd.read_fwf(estacao_dir+'\\'+arquivo+'_'+ano+'02_Plv.txt', 
                                     colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                                     infer_datetime_format=True, enconding='iso-8850-1',
                                     names = colunas)
                
            df_mar = pd.read_fwf(estacao_dir+'\\'+arquivo+'_'+ano+'03_Plv.txt', 
                                 colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                                 infer_datetime_format=True, enconding='iso-8850-1',
                                 names = colunas)
            
            # Construção do Fevereiro de 31 Dias:
            mes_concat = pd.concat([df_fev, df_mar], ignore_index = False)
            
            # Checando os anos bissextos:
            if ano in ano_bissexto:
                mes_concat['Dia'] = pd.to_datetime(mes_concat['Dia'], dayfirst= True, infer_datetime_format=True)
                meses_id = mes_concat.set_index('Dia')
                fev31 = meses_id.loc[: ano+"-03-02"]
            else:
                mes_concat['Dia'] = pd.to_datetime(mes_concat['Dia'], dayfirst= True, infer_datetime_format=True)
                meses_id = mes_concat.set_index('Dia')
                fev31 = meses_id.loc[: ano+"-03-03"]
            
            fev31 = fev31.reset_index()
            
            # Fevereiro 31 Dias:
            fev31['15 min'] = pd.to_numeric(fev31['15 min'], errors='coerce')
            fev31['15 min'].fillna(fev31['15 min'].mean(), inplace=True)
            soma = fev31['15 min'].sum()
            norm = soma/31
            soma_fev31.append(soma)
            soma_fev31N.append(norm)
            
            # Março:
            df_mar['15 min'] = pd.to_numeric(df_mar['15 min'], errors='coerce')
            df_mar['15 min'].fillna(df_mar['15 min'].mean(), inplace=True)
            soma = df_mar['15 min'].sum()
            norm = soma/31
            soma_mar.append(soma)
            soma_marN.append(norm)
            
            # Fevereiro Natural:
            df_fev['15 min'] = pd.to_numeric(df_fev['15 min'], errors='coerce')
            df_fev['15 min'].fillna(df_fev['15 min'].mean(), inplace=True)
            soma = df_fev['15 min'].sum()
            soma_fev.append(soma)
            if ano in ano_bissexto:
                norm = soma/29
                soma_fevN.append(norm)
            else:
                norm = soma/28
                soma_fevN.append(norm)
            
            
            df = pd.DataFrame({'FevNatural':soma_fev,'Fev31':soma_fev31,'Março':soma_mar,
                               'FevNaturalN':soma_fevN,'Fev31N':soma_fev31N,'MarçoN':soma_marN})
            df_anos = pd.DataFrame({'Anos':anos})
            df = pd.concat([df_anos,df], axis=1)
            df.to_csv(diretorio_tratado+'\\'+arquivo+'_Final.csv', index = False)
        except:
            soma_fev.append(defaut)
            soma_fev31.append(defaut)
            soma_mar.append(defaut)
            soma_fevN.append(defaut)
            soma_fev31N.append(defaut)
            soma_marN.append(defaut)
            print(f'A estação {estacao}, no ano {ano}, não possui algum dos meses necessários')
    display(df)
    print(f'DataFrame da estação {estacao} construido.')
    
# Checagem visual:
checa_quantidade(qtd,len(estacoes))  # Para saber se foi contruida tabela de todas as estações:

Iniciando construção do DataFrame da estação Vidigal...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 17.24it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,25.360150,52.600067,137.942460,0.905720,1.696776,4.449757
1,1998,180.500000,180.500000,124.400000,6.446429,5.822581,4.012903
2,1999,34.300000,34.300000,110.700000,1.225000,1.106452,3.570968
3,2000,89.600000,89.600000,48.900000,3.089655,2.890323,1.577419
4,2001,39.200000,39.200000,75.000000,1.400000,1.264516,2.419355
5,2002,201.950261,201.935709,34.800000,7.212509,6.514055,1.122581
6,2003,1.422189,17.648741,201.800000,0.050792,0.569314,6.509677
7,2004,146.200000,146.200000,77.200000,5.041379,4.716129,2.490323
8,2005,70.800000,179.600000,201.000000,2.528571,5.793548,6.483871
9,2006,141.104833,141.094694,191.800000,5.039458,4.551442,6.187097
10,2007,97.600000,97.600000,11.600000,3.485714,3.148387,0.374194
11,2008,79.600000,88.600000,226.800000,2.744828,2.858065,7.316129
12,2009,49.000000,49.000000,76.477094,1.750000,1.580645,2.467003
13,2010,90.034115,158.973428,349.000000,3.215504,5.128175,11.258065
14,2011,51.400000,54.800000,123.200000,1.835714,1.767742,3.974194
15,2012,10.000000,10.000000,53.000000,0.344828,0.322581,1.709677
16,2013,57.000000,61.400000,182.400000,2.035714,1.980645,5.883871
17,2014,28.000000,28.000000,69.200000,1.000000,0.903226,2.232258
18,2015,87.200000,87.200000,99.200000,3.114286,2.812903,3.200000
19,2016,209.200000,221.000000,214.800000,7.213793,7.129032,6.929032
20,2017,6.400000,7.800000,132.200000,0.228571,0.251613,4.264516
21,2018,227.400000,229.800000,180.200000,8.121429,7.412903,5.812903
22,2019,372.800000,511.400000,342.000000,13.314286,16.496774,11.032258
23,2020,293.800000,365.000000,109.947779,10.131034,11.774194,3.546703
24,2021,107.400000,107.400000,91.000000,3.835714,3.464516,2.935484
25,2022,48.400000,48.400000,77.200000,1.728571,1.561290,2.490323

DataFrame da estação Vidigal construido.
Iniciando construção do DataFrame da estação Urca...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 23.45it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997   11.078189   34.218170   66.344586     0.395650   1.103812  2.140148
1   1998  229.300000  229.300000  119.400000     8.189286   7.396774  3.851613
2   1999   45.100000   45.500000  201.600000     1.610714   1.467742  6.503226
3   2000  102.073329  102.068594   54.500000     3.519770   3.292535  1.758065
4   2001   94.000000   94.000000   84.000000     3.357143   3.032258  2.709677
5   2002  116.200000  116.200000   26.017485     4.150000   3.748387  0.839274
6   2003    1.628420   32.512611  268.200000     0.058158   1.048794  8.651613
7   2004  152.909613  152.902550   60.200000     5.272745   4.932340  1.941935
8   2005   72.200000  131.400000  159.200000     2.578571   4.238710  5.135484
9   2006  133.499182  133.489590  151.200000     4.767828   4.306116  4.877419
10  2007   95.000000   95.000000    5.200000     3.392857   3.064516  0.167742
11  2008   92.600000  103.600000  166.400000     3.193103   3.341935  5.367742
12  2009   59.800000   59.840161   93.683316     2.135714   1.930328  3.022042
13  2010   47.287830  111.587227  303.000000     1.688851   3.599588  9.774194
14  2011   47.000000   51.200000  104.800000     1.678571   1.651613  3.380645
15  2012    8.400000    8.400000   59.000000     0.289655   0.270968  1.903226
16  2013   60.400000   66.800000  155.600000     2.157143   2.154839  5.019355
17  2014   17.200000   17.400000   74.600000     0.614286   0.561290  2.406452
18  2015   57.600000   57.600000  137.000000     2.057143   1.858065  4.419355
19  2016  314.000000  317.000000  220.400000    10.827586  10.225806  7.109677
20  2017   18.000000   54.400000  124.600000     0.642857   1.754839  4.019355
21  2018  177.200000  178.800000  123.600000     6.328571   5.767742  3.987097
22  2019  226.000000  306.200000  188.200000     8.071429   9.877419  6.070968
23  2020  288.607333  338.027169  100.200000     9.951977  10.904102  3.232258
24  2021  100.400000  100.400000   71.400000     3.585714   3.238710  2.303226
25  2022   54.600000   54.600000   84.025876     1.950000   1.761290  2.710512

DataFrame da estação Urca construido.
Iniciando construção do DataFrame da estação Rocinha...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 23.50it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,24.069884,31.903411,77.200000,0.859639,1.029142,2.490323
1,1998,176.446142,176.137108,128.953215,6.301648,5.681842,4.159781
2,1999,37.327732,37.525185,170.529206,1.333133,1.210490,5.500942
3,2000,111.300000,111.300000,56.500000,3.837931,3.590323,1.822581
4,2001,36.026766,36.024177,105.400000,1.286670,1.162070,3.400000
5,2002,217.400000,217.400000,43.000000,7.764286,7.012903,1.387097
6,2003,1.827149,16.420408,220.800000,0.065255,0.529691,7.122581
7,2004,169.600000,169.600000,79.053127,5.848276,5.470968,2.550101
8,2005,81.721383,210.081895,261.000000,2.918621,6.776835,8.419355
9,2006,118.688178,118.679651,214.800000,4.238864,3.828376,6.929032
10,2007,104.600000,104.600000,6.000000,3.735714,3.374194,0.193548
11,2008,93.668777,103.277254,261.000000,3.229958,3.331524,8.419355
12,2009,90.573848,90.559729,115.504556,3.234780,2.921282,3.725953
13,2010,131.444138,226.780504,424.000000,4.694434,7.315500,13.677419
14,2011,40.400000,46.600000,150.600000,1.442857,1.503226,4.858065
15,2012,11.400000,11.400000,81.400000,0.393103,0.367742,2.625806
16,2013,70.600000,77.000000,251.000000,2.521429,2.483871,8.096774
17,2014,37.200000,37.400000,88.200000,1.328571,1.206452,2.845161
18,2015,81.000000,81.000000,127.000000,2.892857,2.612903,4.096774
19,2016,206.400000,231.400000,232.800000,7.117241,7.464516,7.509677
20,2017,5.400000,9.000000,176.895823,0.192857,0.290323,5.706317
21,2018,237.570757,239.885483,169.800000,8.484670,7.738241,5.477419
22,2019,331.787698,486.106657,382.914670,11.849561,15.680860,12.352086
23,2020,409.989065,507.682369,143.192463,14.137554,16.376851,4.619112
24,2021,114.400000,114.400000,95.800000,4.085714,3.690323,3.090323
25,2022,69.800000,69.800000,117.600000,2.492857,2.251613,3.793548

DataFrame da estação Rocinha construido.
Iniciando construção do DataFrame da estação Tijuca...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.14it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,34.329544,52.452027,80.253934,1.226055,1.692001,2.588837
1,1998,527.400000,527.400000,216.200000,18.835714,17.012903,6.974194
2,1999,77.800000,78.600000,180.500000,2.778571,2.535484,5.822581
3,2000,142.300000,142.300000,118.500000,4.906897,4.590323,3.822581
4,2001,44.600000,44.600000,113.800000,1.592857,1.438710,3.670968
5,2002,131.800000,131.800000,48.800000,4.707143,4.251613,1.574194
6,2003,2.027872,17.416242,252.400000,0.072424,0.561814,8.141935
7,2004,161.600000,161.600000,113.000000,5.572414,5.212903,3.645161
8,2005,106.200000,180.200000,193.200000,3.792857,5.812903,6.232258
9,2006,125.693383,125.684352,104.491560,4.489049,4.054334,3.370695
10,2007,117.600000,117.678979,14.209549,4.200000,3.796096,0.458373
11,2008,125.134650,137.338260,247.348028,4.314988,4.430266,7.978969
12,2009,121.496457,121.694229,95.490959,4.339159,3.925620,3.080354
13,2010,62.516115,108.782521,338.600000,2.232718,3.509114,10.922581
14,2011,87.400000,94.400000,149.000000,3.121429,3.045161,4.806452
15,2012,14.400000,14.400000,91.000000,0.496552,0.464516,2.935484
16,2013,83.400000,89.000000,358.000000,2.978571,2.870968,11.548387
17,2014,30.400000,30.600000,98.600000,1.085714,0.987097,3.180645
18,2015,85.400000,85.400000,136.800000,3.050000,2.754839,4.412903
19,2016,239.000000,246.000000,240.600000,8.241379,7.935484,7.761290
20,2017,33.200000,40.600000,66.600000,1.185714,1.309677,2.148387
21,2018,258.400000,276.600000,97.800000,9.228571,8.922581,3.154839
22,2019,259.800000,379.400000,331.400000,9.278571,12.238710,10.690323
23,2020,418.900935,510.142838,149.600000,14.444860,16.456221,4.825806
24,2021,123.800000,123.800000,63.344985,4.421429,3.993548,2.043387
25,2022,76.200000,76.200000,160.800000,2.721429,2.458065,5.187097

DataFrame da estação Tijuca construido.
Iniciando construção do DataFrame da estação Santa Teresa...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.59it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,25.303394,34.226339,69.100000,0.903693,1.104075,2.229032
1,1998,371.900000,371.900000,157.300000,13.282143,11.996774,5.074194
2,1999,71.000000,71.600000,153.700000,2.535714,2.309677,4.958065
3,2000,121.187060,121.181439,83.400000,4.178864,3.909079,2.690323
4,2001,45.800000,45.800000,87.200000,1.635714,1.477419,2.812903
5,2002,120.600000,120.600000,37.200000,4.307143,3.890323,1.200000
6,2003,2.400000,19.600000,197.200000,0.085714,0.632258,6.361290
7,2004,162.316439,162.308932,97.465501,5.597119,5.235772,3.144048
8,2005,88.600000,170.600000,192.000000,3.164286,5.503226,6.193548
9,2006,106.078810,106.071189,103.800000,3.788529,3.421651,3.348387
10,2007,84.200000,84.200000,6.404304,3.007143,2.716129,0.206590
11,2008,113.200000,125.800000,245.400000,3.903448,4.058065,7.916129
12,2009,101.902832,101.942088,84.338451,3.639387,3.288454,2.720595
13,2010,89.766729,169.885042,336.000000,3.205955,5.480163,10.838710
14,2011,34.800000,42.000000,123.600000,1.242857,1.354839,3.987097
15,2012,14.400000,14.400000,87.800000,0.496552,0.464516,2.832258
16,2013,83.400000,90.000000,210.600000,2.978571,2.903226,6.793548
17,2014,16.200000,16.600000,96.000000,0.578571,0.535484,3.096774
18,2015,67.200000,67.200000,133.000000,2.400000,2.167742,4.290323
19,2016,285.800000,290.200000,212.400000,9.855172,9.361290,6.851613
20,2017,11.000000,65.400000,144.000000,0.392857,2.109677,4.645161
21,2018,237.000000,252.600000,125.600000,8.464286,8.148387,4.051613
22,2019,248.800000,335.112454,220.073950,8.885714,10.810079,7.099160
23,2020,357.684787,431.449764,123.400000,12.333958,13.917734,3.980645
24,2021,126.800000,126.800000,47.200000,4.528571,4.090323,1.522581
25,2022,74.000000,74.000000,74.400000,2.642857,2.387097,2.400000

DataFrame da estação Santa Teresa construido.
Iniciando construção do DataFrame da estação Copacabana...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 23.48it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,17.725103,24.757852,62.041695,0.633039,0.798640,2.001345
1,1998,219.500000,219.500000,69.500000,7.839286,7.080645,2.241935
2,1999,33.300000,33.300000,142.900000,1.189286,1.074194,4.609677
3,2000,121.200000,121.200000,42.900000,4.179310,3.909677,1.383871
4,2001,45.433755,45.430490,86.400000,1.622634,1.465500,2.787097
5,2002,167.262202,167.256183,42.200000,5.973650,5.395361,1.361290
6,2003,2.460320,9.817433,190.600000,0.087869,0.316691,6.148387
7,2004,151.800000,151.800000,62.000000,5.234483,4.896774,2.000000
8,2005,80.800000,141.200000,134.400000,2.885714,4.554839,4.335484
9,2006,139.703792,139.693754,148.200000,4.989421,4.506250,4.780645
10,2007,97.600000,97.600000,8.600000,3.485714,3.148387,0.277419
11,2008,74.065659,84.082155,195.800000,2.553988,2.712328,6.316129
12,2009,52.077381,52.104909,80.242669,1.859906,1.680804,2.588473
13,2010,50.330875,127.499495,431.000000,1.797531,4.112887,13.903226
14,2011,34.000000,38.200000,100.000000,1.214286,1.232258,3.225806
15,2012,3.000000,3.000000,32.400000,0.103448,0.096774,1.045161
16,2013,47.600000,51.600000,125.600000,1.700000,1.664516,4.051613
17,2014,19.800000,19.800000,64.000000,0.707143,0.638710,2.064516
18,2015,72.000000,72.000000,92.400000,2.571429,2.322581,2.980645
19,2016,231.400000,240.200000,166.200000,7.979310,7.748387,5.361290
20,2017,5.800000,44.200000,165.200000,0.207143,1.425806,5.329032
21,2018,156.600000,157.400000,123.200000,5.592857,5.077419,3.974194
22,2019,273.905244,391.794424,342.200000,9.782330,12.638530,11.038710
23,2020,290.008339,338.427438,85.114401,10.000288,10.917014,2.745626
24,2021,92.000000,92.000000,104.800000,3.285714,2.967742,3.380645
25,2022,49.200000,49.200000,89.099393,1.757143,1.587097,2.874174

DataFrame da estação Copacabana construido.
Iniciando construção do DataFrame da estação Grajau...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 23.86it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,64.748104,107.472129,73.300000,2.312432,3.466843,2.364516
1,1998,243.800000,243.800000,264.500000,8.707143,7.864516,8.532258
2,1999,47.900000,50.000000,169.814122,1.710714,1.612903,5.477875
3,2000,164.200000,164.200000,175.200000,5.662069,5.296774,5.651613
4,2001,74.855613,74.850235,147.200000,2.673415,2.414524,4.748387
5,2002,127.600000,127.600000,69.046402,4.557143,4.116129,2.227303
6,2003,4.000000,8.200000,269.400000,0.142857,0.264516,8.690323
7,2004,123.485838,124.435135,78.065647,4.258132,4.014037,2.518247
8,2005,44.200000,92.200000,214.200000,1.578571,2.974194,6.909677
9,2006,135.700818,135.691068,58.777755,4.846458,4.377131,1.896057
10,2007,97.672565,97.665547,8.600000,3.488306,3.150502,0.277419
11,2008,138.099067,152.902619,174.117014,4.762037,4.932343,5.616678
12,2009,134.200000,134.200000,130.281551,4.792857,4.329032,4.202631
13,2010,73.937328,136.428908,330.200000,2.640619,4.400933,10.651613
14,2011,40.200000,47.000000,128.600000,1.435714,1.516129,4.148387
15,2012,19.000000,19.000000,87.200000,0.655172,0.612903,2.812903
16,2013,100.400000,107.200000,283.600000,3.585714,3.458065,9.148387
17,2014,63.200000,63.200000,107.000000,2.257143,2.038710,3.451613
18,2015,107.000000,107.000000,123.000000,3.821429,3.451613,3.967742
19,2016,166.800000,168.200000,184.800000,5.751724,5.425806,5.961290
20,2017,20.000000,21.800000,103.000000,0.714286,0.703226,3.322581
21,2018,196.000000,197.400000,70.600000,7.000000,6.367742,2.277419
22,2019,238.000000,369.400000,284.400000,8.500000,11.916129,9.174194
23,2020,386.825183,475.137320,142.676543,13.338799,15.327010,4.602469
24,2021,151.600000,151.600000,94.200000,5.414286,4.890323,3.038710
25,2022,118.400000,118.400000,159.800000,4.228571,3.819355,5.154839

DataFrame da estação Grajau construido.
Iniciando construção do DataFrame da estação Ilha do Governador...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.19it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,26.592705,39.692413,84.699225,0.949739,1.280400,2.732233
1,1998,275.000000,275.000000,99.400000,9.821429,8.870968,3.206452
2,1999,159.200000,159.800000,110.600000,5.685714,5.154839,3.567742
3,2000,173.724802,173.716745,129.500000,5.990510,5.603766,4.177419
4,2001,58.818494,58.797306,206.338668,2.100660,1.896687,6.656086
5,2002,144.707669,144.707669,58.731982,5.168131,4.667989,1.894580
6,2003,7.400000,7.600000,147.400000,0.264286,0.245161,4.754839
7,2004,192.600000,192.600000,66.000000,6.641379,6.212903,2.129032
8,2005,88.665874,150.701142,112.800000,3.166638,4.861327,3.638710
9,2006,110.081784,110.073875,38.600000,3.931492,3.550770,1.245161
10,2007,75.800000,75.800000,11.400000,2.707143,2.445161,0.367742
11,2008,141.701651,159.507052,263.577135,4.886264,5.145389,8.502488
12,2009,115.886097,115.877770,155.488205,4.138789,3.737993,5.015749
13,2010,58.308299,121.804370,366.446268,2.082439,3.929173,11.820847
14,2011,28.200000,35.000000,92.200000,1.007143,1.129032,2.974194
15,2012,76.200000,76.200000,96.200000,2.627586,2.458065,3.103226
16,2013,78.800000,84.000000,249.000000,2.814286,2.709677,8.032258
17,2014,14.800000,15.200000,101.400000,0.528571,0.490323,3.270968
18,2015,78.400000,78.400000,139.200000,2.800000,2.529032,4.490323
19,2016,191.411934,191.986550,79.707133,6.600412,6.193115,2.571198
20,2017,26.400000,33.400000,83.800000,0.942857,1.077419,2.703226
21,2018,200.800000,202.800000,52.600000,7.171429,6.541935,1.696774
22,2019,232.400000,333.400000,182.000000,8.300000,10.754839,5.870968
23,2020,297.000000,355.200000,140.494418,10.241379,11.458065,4.532078
24,2021,92.953293,92.962272,114.384356,3.319760,2.998783,3.689818
25,2022,93.469546,93.462811,72.297174,3.338198,3.014929,2.332167

DataFrame da estação Ilha do Governador construido.
Iniciando construção do DataFrame da estação Penha...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.85it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997   32.924461   55.264344   72.721805     1.175874   1.782721  2.345865
1   1998  132.400000  132.400000   81.200000     4.728571   4.270968  2.619355
2   1999  163.221264  164.410343   98.766375     5.829331   5.303559  3.186012
3   2000  175.900000  175.900000  140.900000     6.065517   5.674194  4.545161
4   2001   52.400000   52.400000  126.000000     1.871429   1.690323  4.064516
5   2002  127.494862  127.485676   27.600000     4.553388   4.112441  0.890323
6   2003    4.200000    4.600000  175.317821     0.150000   0.148387  5.655414
7   2004  108.200000  108.200000   39.600000     3.731034   3.490323  1.277419
8   2005   62.246245  102.268637  121.681775     2.223080   3.298988  3.925219
9   2006   83.914448   83.745641   44.400000     2.996945   2.701472  1.432258
10  2007   68.400000   68.400000   10.400000     2.442857   2.206452  0.335484
11  2008  152.400000  166.200000  141.895360     5.255172   5.361290  4.577270
12  2009  136.101115  136.182796  111.888761     4.860754   4.392993  3.609315
13  2010   70.931745  112.789244  237.200000     2.533277   3.638363  7.651613
14  2011   22.200000   29.000000   77.600000     0.792857   0.935484  2.503226
15  2012   62.600000   62.600000   99.600000     2.158621   2.019355  3.212903
16  2013   85.200000   91.800000  185.800000     3.042857   2.961290  5.993548
17  2014   35.400000   36.200000  132.200000     1.264286   1.167742  4.264516
18  2015  111.400000  111.400000   87.800000     3.978571   3.593548  2.832258
19  2016  151.800000  152.000000   64.600000     5.234483   4.903226  2.083871
20  2017   13.950282   26.457472   90.023498     0.498224   0.853467  2.903984
21  2018  134.600000  158.743869   59.580590     4.807143   5.120770  1.921955
22  2019  197.600000  323.000000  298.600000     7.057143  10.419355  9.632258
23  2020  258.585766  325.618830  118.079354     8.916751  10.503833  3.809011
24  2021  141.811028  141.790579   86.581867     5.064680   4.573890  2.792963
25  2022   73.400000   73.400000   59.400000     2.621429   2.367742  1.916129

DataFrame da estação Penha construido.
Iniciando construção do DataFrame da estação Madureira...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.30it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,20.245123,57.515804,93.100000,0.723040,1.855349,3.003226
1,1998,212.257695,212.242445,81.400000,7.580632,6.846530,2.625806
2,1999,65.998065,68.892473,126.084734,2.357074,2.222338,4.067249
3,2000,160.800000,160.800000,80.300000,5.544828,5.187097,2.590323
4,2001,41.800000,41.800000,138.493073,1.492857,1.348387,4.467518
5,2002,164.400000,164.400000,46.231069,5.871429,5.303226,1.491325
6,2003,14.200000,26.400000,232.200000,0.507143,0.851613,7.490323
7,2004,100.400000,105.000000,62.600000,3.462069,3.387097,2.019355
8,2005,78.174237,149.100202,181.600000,2.791937,4.809684,5.858065
9,2006,190.082440,190.055108,44.200000,6.788659,6.130810,1.425806
10,2007,96.543452,96.529570,27.000000,3.447980,3.113857,0.870968
11,2008,187.734673,197.332438,149.400000,6.473609,6.365563,4.819355
12,2009,151.026962,150.970498,138.498075,5.393820,4.870016,4.467680
13,2010,68.727652,130.418824,393.800000,2.454559,4.207059,12.703226
14,2011,10.600000,17.000000,105.200000,0.378571,0.548387,3.393548
15,2012,28.400000,28.400000,85.600000,0.979310,0.916129,2.761290
16,2013,87.000000,101.200000,181.200000,3.107143,3.264516,5.845161
17,2014,53.200000,53.200000,113.000000,1.900000,1.716129,3.645161
18,2015,72.453829,72.448623,134.000000,2.587637,2.337052,4.322581
19,2016,194.800000,196.000000,135.800000,6.717241,6.322581,4.380645
20,2017,9.000000,19.800000,106.800000,0.321429,0.638710,3.445161
21,2018,177.600000,177.800000,78.600000,6.342857,5.735484,2.535484
22,2019,207.000000,346.200000,236.200000,7.392857,11.167742,7.619355
23,2020,302.320289,390.436732,164.394320,10.424838,12.594733,5.303043
24,2021,111.000000,111.000000,69.800000,3.964286,3.580645,2.251613
25,2022,73.000000,73.000000,62.000000,2.607143,2.354839,2.000000

DataFrame da estação Madureira construido.
Iniciando construção do DataFrame da estação Iraja...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.38it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997   23.719863   48.828916   61.972135     0.847138   1.575126  1.999101
1   1998  152.400000  152.900000  106.200000     5.442857   4.932258  3.425806
2   1999  142.222729  143.334018   91.300000     5.079383   4.623678  2.945161
3   2000  175.000000  175.000000   92.800000     6.034483   5.645161  2.993548
4   2001   85.200000   85.200000  135.000000     3.042857   2.748387  4.354839
5   2002  146.600000  146.600000   40.440767     5.235714   4.729032  1.304541
6   2003    9.600000   10.200000  184.200000     0.342857   0.329032  5.941935
7   2004  105.600000  105.600000   43.800000     3.641379   3.406452  1.412903
8   2005   75.656208  125.884486  111.800000     2.702007   4.060790  3.606452
9   2006  113.200000  113.200000   44.400000     4.042857   3.651613  1.432258
10  2007  110.200000  110.200000   48.600000     3.935714   3.554839  1.567742
11  2008  214.600000  229.600000  153.200000     7.400000   7.406452  4.941935
12  2009  187.795210  187.659459  177.473428     6.706972   6.053531  5.724949
13  2010   73.135839  137.831261  290.200000     2.611994   4.446170  9.361290
14  2011   25.619033   36.424446  108.000000     0.914965   1.174982  3.483871
15  2012   45.200000   45.200000   70.400000     1.558621   1.458065  2.270968
16  2013  108.200000  126.200000  191.600000     3.864286   4.070968  6.180645
17  2014   30.000000   36.000000  143.000000     1.071429   1.161290  4.612903
18  2015  146.400000  146.400000  164.800000     5.228571   4.722581  5.316129
19  2016  251.800000  252.200000   73.200000     8.682759   8.135484  2.361290
20  2017   12.400000   12.600000   82.800000     0.442857   0.406452  2.670968
21  2018  185.400000  185.600000   68.000000     6.621429   5.987097  2.193548
22  2019  194.800000  306.400000  221.200000     6.957143   9.883871  7.135484
23  2020  283.807770  346.531536  145.087525     9.786475  11.178437  4.680243
24  2021  169.526136  169.513921   82.255279     6.054505   5.468191  2.653396
25  2022  142.140314  142.068332   36.292683     5.076440   4.582849  1.170732

DataFrame da estação Iraja construido.
Iniciando construção do DataFrame da estação Bangu...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.29it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997   40.258006   93.468259  111.828532     1.437786   3.015105  3.607372
1   1998  196.700000  202.800000  109.100000     7.025000   6.541935  3.519355
2   1999  149.511078  149.900604   76.700000     5.339681   4.835503  2.474194
3   2000   92.500000   92.500000  120.480968     3.189655   2.983871  3.886483
4   2001   85.000000   85.000000  137.692535     3.035714   2.741935  4.441695
5   2002  188.600000  188.600000   60.840888     6.735714   6.083871  1.962609
6   2003    2.200000   33.200000  210.400000     0.078571   1.070968  6.787097
7   2004  145.200000  145.200000   68.800000     5.006897   4.683871  2.219355
8   2005  108.480595  169.113499  212.000000     3.874307   5.455274  6.838710
9   2006  105.200000  105.200000   27.600000     3.757143   3.393548  0.890323
10  2007  140.980587  140.806517   28.800000     5.035021   4.542146  0.929032
11  2008  169.643391  182.645161  194.600000     5.849772   5.891779  6.277419
12  2009  180.208264  180.134328   93.145857     6.436009   5.810785  3.004705
13  2010   66.323186  133.023193  294.200000     2.368685   4.291071  9.490323
14  2011   24.200000   30.800000  132.800000     0.864286   0.993548  4.283871
15  2012   56.000000   56.000000   84.000000     1.931034   1.806452  2.709677
16  2013   71.800000   80.600000  190.200000     2.564286   2.600000  6.135484
17  2014   46.400000   48.000000  197.400000     1.657143   1.548387  6.367742
18  2015  156.600000  156.600000  163.600000     5.592857   5.051613  5.277419
19  2016  159.600000  163.200000  108.600000     5.503448   5.264516  3.503226
20  2017   19.200000   29.800000   92.000000     0.685714   0.961290  2.967742
21  2018  171.800000  172.800000   85.600000     6.135714   5.574194  2.761290
22  2019  276.000000  341.200000  183.200000     9.857143  11.006452  5.909677
23  2020  290.826782  425.858586  212.400000    10.028510  13.737374  6.851613
24  2021  155.600000  155.600000   78.800000     5.557143   5.019355  2.541935
25  2022  159.800000  159.800000  141.600000     5.707143   5.154839  4.567742

DataFrame da estação Bangu construido.
Iniciando construção do DataFrame da estação Piedade...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.02it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997   41.029723   71.795730   80.606492     1.465347   2.315991  2.600209
1   1998  198.247286  198.733378  135.900000     7.080260   6.410754  4.383871
2   1999  104.600000  105.600000  192.600000     3.735714   3.406452  6.212903
3   2000  144.100000  144.100000  122.900000     4.968966   4.648387  3.964516
4   2001   27.400000   27.400000  149.500471     0.978571   0.883871  4.822596
5   2002  134.200000  134.200000   37.024882     4.792857   4.329032  1.194351
6   2003   15.600000   21.200000  265.513747     0.557143   0.683871  8.564960
7   2004  120.200000  122.682337   52.435227     4.144828   3.957495  1.691459
8   2005   90.800000  169.600000  209.140551     3.242857   5.470968  6.746469
9   2006  153.943240  153.909990   57.400000     5.497973   4.964838  1.851613
10  2007  106.585773  106.450255   19.212912     3.806635   3.433879  0.619771
11  2008  147.906102  159.507052  159.000000     5.100210   5.145389  5.129032
12  2009  119.088476  119.079919  108.949139     4.253160   3.841288  3.514488
13  2010   79.347376  128.415462  308.600000     2.833835   4.142434  9.954839
14  2011   14.400000   19.400000  109.000000     0.514286   0.625806  3.516129
15  2012   16.200000   16.200000  114.200000     0.558621   0.522581  3.683871
16  2013   85.800000   97.400000  231.000000     3.064286   3.141935  7.451613
17  2014   41.400000   41.400000  123.800000     1.478571   1.335484  3.993548
18  2015   98.800000   99.000000  111.400000     3.528571   3.193548  3.593548
19  2016  151.400000  152.200000  123.600000     5.220690   4.909677  3.987097
20  2017   14.400000   20.800000  108.200000     0.514286   0.670968  3.490323
21  2018  204.200000  204.400000   74.000000     7.292857   6.593548  2.387097
22  2019  203.200000  356.200000  277.719838     7.257143  11.490323  8.958704
23  2020  291.367686  376.811436  155.929679    10.047162  12.155208  5.029990
24  2021  113.200000  113.200000   71.200000     4.042857   3.651613  2.296774
25  2022  102.000000  102.000000   56.800000     3.642857   3.290323  1.832258

DataFrame da estação Piedade construido.
Iniciando construção do DataFrame da estação Tanque...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.74it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,42.781409,47.885656,87.877172,1.527907,1.544699,2.834747
1,1998,213.100000,213.100000,87.800000,7.610714,6.874194,2.832258
2,1999,63.500000,64.100000,95.864425,2.267857,2.067742,3.092401
3,2000,73.410951,73.397305,89.100000,2.531412,2.367655,2.874194
4,2001,45.800000,45.800000,113.167523,1.635714,1.477419,3.650565
5,2002,146.709159,146.698588,48.448823,5.239613,4.732213,1.562865
6,2003,11.029439,30.574555,280.788702,0.393909,0.986276,9.057700
7,2004,147.600000,147.600000,46.862988,5.089655,4.761290,1.511709
8,2005,69.400000,163.600000,184.200000,2.478571,5.277419,5.941935
9,2006,134.200000,134.200000,52.635373,4.792857,4.329032,1.697915
10,2007,95.200000,95.200000,21.400000,3.400000,3.070968,0.690323
11,2008,183.600000,194.600000,160.000000,6.331034,6.277419,5.161290
12,2009,114.793994,114.677507,132.668693,4.099785,3.699274,4.279635
13,2010,70.731373,135.427227,391.800000,2.526120,4.368620,12.638710
14,2011,28.400000,34.600000,121.800000,1.014286,1.116129,3.929032
15,2012,16.000000,16.000000,161.000000,0.551724,0.516129,5.193548
16,2013,83.400000,89.400000,179.460303,2.978571,2.883871,5.789042
17,2014,50.000000,50.000000,98.600000,1.785714,1.612903,3.180645
18,2015,147.000000,147.000000,129.000000,5.250000,4.741935,4.161290
19,2016,166.800000,170.400000,94.400000,5.751724,5.496774,3.045161
20,2017,13.600000,49.600000,149.800000,0.485714,1.600000,4.832258
21,2018,149.200000,152.200000,80.253934,5.328571,4.909677,2.588837
22,2019,292.200000,412.200000,284.600000,10.435714,13.296774,9.180645
23,2020,323.632495,460.709617,203.747709,11.159741,14.861601,6.572507
24,2021,106.800000,106.800000,68.200000,3.814286,3.445161,2.200000
25,2022,99.200000,99.200000,56.600000,3.542857,3.200000,1.825806

DataFrame da estação Tanque construido.
Iniciando construção do DataFrame da estação Saude...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.16it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN    Fev31N     MarçoN
0   1997   12.799850   38.068266   69.800000     0.457138  1.228009   2.251613
1   1998  232.572788  232.556078  171.300000     8.306171  7.501809   5.525806
2   1999   94.600000   95.600000  186.200000     3.378571  3.083871   6.006452
3   2000  166.519626  166.511903  107.672360     5.742056  5.371352   3.473302
4   2001   46.000000   46.000000  100.267384     1.642857  1.483871   3.234432
5   2002  130.200000  130.200000   42.200000     4.650000  4.200000   1.361290
6   2003    2.400000   19.400000  235.200000     0.085714  0.625806   7.587097
7   2004  140.700933  140.694426   68.445999     4.851756  4.538530   2.207935
8   2005  162.400000  224.600000  133.089442     5.800000  7.245161   4.293208
9   2006  103.153274  103.138441   63.800000     3.684045  3.327046   2.058065
10  2007  108.800000  108.800000    5.803900     3.885714  3.509677   0.187223
11  2008  123.200000  134.600000  175.117687     4.248276  4.341935   5.648958
12  2009   79.659182   79.653459  115.426644     2.844971  2.569466   3.723440
13  2010   82.553331  153.257143  333.400000     2.948333  4.943779  10.754839
14  2011   21.400000   26.800000   81.600000     0.764286  0.864516   2.632258
15  2012   51.600000   51.600000   80.200000     1.779310  1.664516   2.587097
16  2013   79.800000   84.400000  184.200000     2.850000  2.722581   5.941935
17  2014   11.600000   11.600000   85.200000     0.414286  0.374194   2.748387
18  2015   73.000000   73.200000  143.400000     2.607143  2.361290   4.625806
19  2016  165.400000  165.800000  139.000000     5.703448  5.348387   4.483871
20  2017   23.600000   33.800000   93.000000     0.842857  1.090323   3.000000
21  2018  156.000000  162.800000   49.000000     5.571429  5.251613   1.580645
22  2019  199.400000  277.600000  207.400000     7.121429  8.954839   6.690323
23  2020  270.600000  304.200000   72.297174     9.331034  9.812903   2.332167
24  2021  111.400000  111.400000   52.200000     3.978571  3.593548   1.683871
25  2022   55.600000   55.600000  100.600000     1.985714  1.793548   3.245161

DataFrame da estação Saude construido.
Iniciando construção do DataFrame da estação Jardim Botanico...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.12it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,29.508268,39.753462,76.151177,1.053867,1.282370,2.456490
1,1998,251.300000,251.300000,160.600000,8.975000,8.106452,5.180645
2,1999,54.000000,54.200000,154.500000,1.928571,1.748387,4.983871
3,2000,99.943597,99.934320,38.900000,3.446331,3.223688,1.254839
4,2001,40.000000,40.000000,87.400000,1.428571,1.290323,2.819355
5,2002,164.200000,164.200000,44.600000,5.864286,5.296774,1.438710
6,2003,3.063733,15.083447,197.200000,0.109419,0.486563,6.361290
7,2004,157.800000,157.800000,74.600000,5.441379,5.090323,2.406452
8,2005,75.400000,188.200000,190.400000,2.692857,6.070968,6.141935
9,2006,134.900223,134.890531,202.000000,4.817865,4.351307,6.516129
10,2007,105.600000,105.600000,15.400000,3.771429,3.406452,0.496774
11,2008,81.917529,93.525538,244.600000,2.824742,3.016953,7.890323
12,2009,94.000000,94.000000,89.750791,3.357143,3.032258,2.895187
13,2010,102.189803,198.733445,402.600000,3.649636,6.410756,12.987097
14,2011,53.000000,58.000000,127.800000,1.892857,1.870968,4.122581
15,2012,6.200000,6.200000,72.000000,0.213793,0.200000,2.322581
16,2013,63.200000,67.600000,221.800000,2.257143,2.180645,7.154839
17,2014,37.800000,37.800000,81.400000,1.350000,1.219355,2.625806
18,2015,89.600000,89.600000,111.800000,3.200000,2.890323,3.606452
19,2016,192.200000,206.600000,205.400000,6.627586,6.664516,6.625806
20,2017,6.800000,12.200000,112.600000,0.242857,0.393548,3.632258
21,2018,244.800000,259.000000,144.400000,8.742857,8.354839,4.658065
22,2019,368.800000,525.400000,351.400000,13.171429,16.948387,11.335484
23,2020,389.400000,466.800000,130.575505,13.427586,15.058065,4.212113
24,2021,124.200000,124.200000,98.800000,4.435714,4.006452,3.187097
25,2022,64.200000,64.200000,111.000000,2.292857,2.070968,3.580645

DataFrame da estação Jardim Botanico construido.
Iniciando construção do DataFrame da estação Barrinha...

 73%|███████████████████████████████████████████████████████████▏                     | 19/26 [00:00<00:00, 144.94it/s]

A estação Barrinha, no ano 1997, não possui algum dos meses necessários
A estação Barrinha, no ano 1998, não possui algum dos meses necessários
A estação Barrinha, no ano 1999, não possui algum dos meses necessários
A estação Barrinha, no ano 2000, não possui algum dos meses necessários
A estação Barrinha, no ano 2001, não possui algum dos meses necessários
A estação Barrinha, no ano 2002, não possui algum dos meses necessários
A estação Barrinha, no ano 2003, não possui algum dos meses necessários
A estação Barrinha, no ano 2004, não possui algum dos meses necessários
A estação Barrinha, no ano 2005, não possui algum dos meses necessários
A estação Barrinha, no ano 2006, não possui algum dos meses necessários
A estação Barrinha, no ano 2007, não possui algum dos meses necessários
A estação Barrinha, no ano 2008, não possui algum dos meses necessários
A estação Barrinha, no ano 2009, não possui algum dos meses necessários
A estação Barrinha, no ano 2010, não possui algum dos meses necessários
A estação Barrinha, no ano 2011, não possui algum dos meses necessários
A estação Barrinha, no ano 2012, não possui algum dos meses necessários

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 63.41it/s]

    Anos  FevNatural       Fev31  Março  FevNaturalN     Fev31N     MarçoN
0   1997    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
1   1998    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
2   1999    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
3   2000    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
4   2001    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
5   2002    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
6   2003    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
7   2004    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
8   2005    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
9   2006    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
10  2007    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
11  2008    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
12  2009    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
13  2010    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
14  2011    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
15  2012    0.000000    0.000000    0.0     0.000000   0.000000   0.000000
16  2013  105.200000  115.400000  195.8     3.757143   3.722581   6.316129
17  2014   30.800000   30.800000   80.8     1.100000   0.993548   2.606452
18  2015  138.675738  138.590618  180.8     4.952705   4.470665   5.832258
19  2016  138.000000  171.600000  208.4     4.758621   5.535484   6.722581
20  2017    8.000000    9.400000  147.4     0.285714   0.303226   4.754839
21  2018  332.400000  333.800000  171.8    11.871429  10.767742   5.541935
22  2019  400.600000  519.200000  389.8    14.307143  16.748387  12.574194
23  2020  337.885468  465.826110  183.0    11.651223  15.026649   5.903226
24  2021  106.400000  106.400000  104.6     3.800000   3.432258   3.374194
25  2022   80.200000   80.200000   96.2     2.864286   2.587097   3.103226

DataFrame da estação Barrinha construido.
Iniciando construção do DataFrame da estação Cidade de Deus...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.09it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,32.505271,33.893351,72.697712,1.160903,1.093334,2.345087
1,1998,197.000000,197.000000,112.300000,7.035714,6.354839,3.622581
2,1999,90.767435,91.161182,126.800000,3.241694,2.940683,4.090323
3,2000,33.983099,33.971226,60.300000,1.171831,1.095846,1.945161
4,2001,35.000000,35.000000,105.800000,1.250000,1.129032,3.412903
5,2002,188.800000,188.800000,35.000000,6.742857,6.090323,1.129032
6,2003,4.501976,23.072123,337.600000,0.160785,0.744262,10.890323
7,2004,167.000000,167.200000,45.430531,5.758621,5.393548,1.465501
8,2005,67.049814,161.308261,204.400000,2.394636,5.203492,6.593548
9,2006,112.000000,112.000000,68.045730,4.000000,3.612903,2.195024
10,2007,117.000000,117.196639,11.619522,4.178571,3.780537,0.374823
11,2008,111.400000,120.800000,157.906120,3.841379,3.896774,5.093746
12,2009,113.474439,113.408907,105.259804,4.052659,3.658352,3.395478
13,2010,78.403873,135.518332,324.800000,2.800138,4.371559,10.477419
14,2011,37.400000,41.800000,114.400000,1.335714,1.348387,3.690323
15,2012,14.400000,14.409671,156.305044,0.496552,0.464828,5.042098
16,2013,67.400000,77.200000,184.600000,2.407143,2.490323,5.954839
17,2014,64.800000,64.800000,102.000000,2.314286,2.090323,3.290323
18,2015,119.800000,119.800000,104.600000,4.278571,3.864516,3.374194
19,2016,153.800000,159.000000,69.800000,5.303448,5.129032,2.251613
20,2017,15.600000,31.000000,170.200000,0.557143,1.000000,5.490323
21,2018,200.400000,204.000000,79.800000,7.157143,6.580645,2.574194
22,2019,246.800000,324.000000,247.000000,8.814286,10.451613,7.967742
23,2020,304.421508,414.410260,174.634724,10.497293,13.368073,5.633378
24,2021,106.400000,106.400000,52.600000,3.800000,3.432258,1.696774
25,2022,110.600000,110.600000,53.400000,3.950000,3.567742,1.722581

DataFrame da estação Cidade de Deus construido.
Iniciando construção do DataFrame da estação Riocentro...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.41it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,67.727701,74.424570,57.076716,2.418846,2.400793,1.841184
1,1998,159.500000,159.607119,71.217923,5.696429,5.148617,2.297352
2,1999,122.300000,122.700000,119.380229,4.367857,3.958065,3.850975
3,2000,197.903820,197.360168,44.229724,6.824270,6.366457,1.426765
4,2001,50.600000,50.600000,90.660928,1.807143,1.632258,2.924546
5,2002,185.800000,185.800000,58.200000,6.635714,5.993548,1.877419
6,2003,1.026697,26.830241,308.207128,0.036668,0.865492,9.942165
7,2004,185.400000,185.400000,65.000000,6.393103,5.980645,2.096774
8,2005,77.600000,173.000000,238.400000,2.771429,5.580645,7.690323
9,2006,154.116748,154.144888,69.372614,5.504170,4.972416,2.237826
10,2007,115.371429,115.354839,14.400000,4.120408,3.721124,0.464516
11,2008,107.477100,117.278711,197.064872,3.706107,3.783184,6.356931
12,2009,87.805065,87.647059,96.953836,3.135895,2.827324,3.127543
13,2010,126.434834,181.103866,389.200000,4.515530,5.842060,12.554839
14,2011,42.400000,48.800000,131.600000,1.514286,1.574194,4.245161
15,2012,14.200000,14.200000,125.200000,0.489655,0.458065,4.038710
16,2013,91.600000,122.800000,208.400000,3.271429,3.961290,6.722581
17,2014,79.400000,79.400000,74.701215,2.835714,2.561290,2.409717
18,2015,175.800000,175.800000,120.800000,6.278571,5.670968,3.896774
19,2016,118.800000,134.400000,90.600000,4.096552,4.335484,2.922581
20,2017,22.800000,60.000000,154.400000,0.814286,1.935484,4.980645
21,2018,271.000000,272.400000,164.200000,9.678571,8.787097,5.296774
22,2019,319.637472,448.300873,278.200000,11.415624,14.461318,8.974194
23,2020,244.798184,319.935954,111.980337,8.441317,10.320515,3.612269
24,2021,110.800000,110.800000,65.000000,3.957143,3.574194,2.096774
25,2022,76.400000,76.400000,96.400000,2.728571,2.464516,3.109677

DataFrame da estação Riocentro construido.
Iniciando construção do DataFrame da estação Guaratiba...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.04it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,17.134663,23.952966,104.585767,0.611952,0.772676,3.373734
1,1998,159.018141,159.306917,143.769574,5.679219,5.138933,4.637728
2,1999,115.185576,138.693083,178.300000,4.113771,4.473970,5.751613
3,2000,156.500000,156.500000,73.349294,5.396552,5.048387,2.366106
4,2001,49.400000,49.400000,120.280834,1.764286,1.593548,3.880027
5,2002,129.200000,129.200000,48.400000,4.614286,4.167742,1.561290
6,2003,1.400000,14.200000,273.000000,0.050000,0.458065,8.806452
7,2004,180.200000,181.600000,22.415064,6.213793,5.858065,0.723067
8,2005,83.800000,134.200000,201.600000,2.992857,4.329032,6.503226
9,2006,140.008036,139.987903,79.600000,5.000287,4.515739,2.567742
10,2007,140.600000,140.600000,19.400000,5.021429,4.535484,0.625806
11,2008,143.400000,154.000000,167.840758,4.944828,4.967742,5.414218
12,2009,69.509851,69.479784,112.469218,2.482495,2.241283,3.628039
13,2010,200.372162,251.021176,287.600000,7.156149,8.097457,9.277419
14,2011,28.600000,34.200000,170.200000,1.021429,1.103226,5.490323
15,2012,66.000000,66.000000,65.000000,2.275862,2.129032,2.096774
16,2013,116.600000,128.800000,132.000000,4.164286,4.154839,4.258065
17,2014,16.200000,16.600000,120.400000,0.578571,0.535484,3.883871
18,2015,213.437858,213.414847,164.600000,7.622781,6.884350,5.309677
19,2016,85.400000,103.800000,49.200000,2.944828,3.348387,1.587097
20,2017,13.009665,14.009402,149.800000,0.464631,0.451916,4.832258
21,2018,259.385417,260.149194,167.600000,9.263765,8.391909,5.406452
22,2019,476.800000,634.400000,377.000000,17.028571,20.464516,12.161290
23,2020,225.400000,335.600000,151.200000,7.772414,10.825806,4.877419
24,2021,146.800000,146.800000,54.000000,5.242857,4.735484,1.741935
25,2022,77.000000,77.000000,264.000000,2.750000,2.483871,8.516129

DataFrame da estação Guaratiba construido.
Iniciando construção do DataFrame da estação Grajau Jacarepagua...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 39.15it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
1   1998    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
2   1999    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
3   2000    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
4   2001    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
5   2002    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
6   2003    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
7   2004    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
8   2005    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
9   2006    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
10  2007    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
11  2008    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
12  2009    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
13  2010    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
14  2011   22.400000   31.400000  172.200000     0.800000   1.012903  5.554839
15  2012   19.600000   19.600000  114.000000     0.675862   0.632258  3.677419
16  2013   79.000000   91.200000  267.000000     2.821429   2.941935  8.612903
17  2014   64.600000   64.800000  104.600000     2.307143   2.090323  3.374194
18  2015  134.400000  134.400000  138.400000     4.800000   4.335484  4.464516
19  2016  182.800000  186.600000  247.800000     6.303448   6.019355  7.993548
20  2017   11.600000   14.000000  115.400000     0.414286   0.451613  3.722581
21  2018  185.000000  185.200000   95.000000     6.607143   5.974194  3.064516
22  2019  225.767732  349.634654  265.000000     8.063133  11.278537  8.548387
23  2020  355.610443  456.776496  206.321979    12.262429  14.734726  6.655548
24  2021  129.200000  129.200000   67.400000     4.614286   4.167742  2.174194
25  2022   65.000000   65.000000   55.200000     2.321429   2.096774  1.780645

DataFrame da estação Grajau Jacarepagua construido.
Iniciando construção do DataFrame da estação Santa Cruz...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.19it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,26.400151,44.163293,91.379253,0.942863,1.424622,2.947718
1,1998,287.400000,287.600000,153.900000,10.264286,9.277419,4.964516
2,1999,62.646543,62.642042,98.600000,2.237377,2.020711,3.180645
3,2000,144.600000,144.600000,115.400000,4.986207,4.664516,3.722581
4,2001,108.400000,108.400000,118.600000,3.871429,3.496774,3.825806
5,2002,159.400000,159.400000,58.639408,5.692857,5.141935,1.891594
6,2003,17.012639,32.421760,333.000000,0.607594,1.045863,10.741935
7,2004,180.000000,180.000000,101.400000,6.206897,5.806452,3.270968
8,2005,40.630186,83.255876,182.000000,1.451078,2.685673,5.870968
9,2006,171.600000,171.600000,88.200000,6.128571,5.535484,2.845161
10,2007,164.600000,164.600000,22.811533,5.878571,5.309677,0.735856
11,2008,206.200000,218.200000,215.000000,7.110345,7.038710,6.935484
12,2009,118.838758,118.757177,105.638945,4.244241,3.830877,3.407708
13,2010,171.318199,240.203025,252.800000,6.118507,7.748485,8.154839
14,2011,29.400000,39.000000,88.600000,1.050000,1.258065,2.858065
15,2012,64.000000,64.000000,125.600000,2.206897,2.064516,4.051613
16,2013,186.400000,198.600000,281.400000,6.657143,6.406452,9.077419
17,2014,40.400000,40.600000,224.150639,1.442857,1.309677,7.230666
18,2015,148.200000,148.200000,218.509017,5.292857,4.780645,7.048678
19,2016,121.000000,138.000000,74.200000,4.172414,4.451613,2.393548
20,2017,24.600000,52.600000,193.600000,0.878571,1.696774,6.245161
21,2018,179.400000,181.800000,77.800000,6.407143,5.864516,2.509677
22,2019,256.200000,354.600000,356.600000,9.150000,11.438710,11.503226
23,2020,318.228613,484.325488,251.600000,10.973400,15.623403,8.116129
24,2021,169.600000,169.600000,96.800000,6.057143,5.470968,3.122581
25,2022,96.600000,96.600000,116.200000,3.450000,3.116129,3.748387

DataFrame da estação Santa Cruz construido.
Iniciando construção do DataFrame da estação Grande Meier...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.55it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,73.262012,122.557177,138.325362,2.616500,3.953457,4.462108
1,1998,196.592113,196.563844,149.500471,7.021147,6.340769,4.822596
2,1999,67.149888,67.745467,141.795293,2.398210,2.185338,4.574042
3,2000,97.000000,97.000000,93.662946,3.344828,3.129032,3.021385
4,2001,50.037175,50.033580,197.265141,1.787042,1.613986,6.363392
5,2002,127.800000,127.800000,39.800000,4.564286,4.122581,1.283871
6,2003,4.200000,13.600000,288.600000,0.150000,0.438710,9.309677
7,2004,111.000000,115.000000,54.000000,3.827586,3.709677,1.741935
8,2005,63.140730,131.665098,220.600000,2.255026,4.247261,7.116129
9,2006,127.047212,127.042646,45.400000,4.537400,4.098150,1.464516
10,2007,97.472416,97.465413,15.410356,3.481158,3.144046,0.497108
11,2008,126.690883,141.094694,167.281050,4.368651,4.551442,5.396163
12,2009,131.996131,131.977151,137.801957,4.714148,4.257327,4.445224
13,2010,81.351098,141.036639,345.000000,2.905396,4.549569,11.129032
14,2011,31.600000,38.400000,93.800000,1.128571,1.238710,3.025806
15,2012,19.400000,19.400000,117.600000,0.668966,0.625806,3.793548
16,2013,122.600000,131.400000,259.800000,4.378571,4.238710,8.380645
17,2014,41.600000,41.600000,108.200000,1.485714,1.341935,3.490323
18,2015,154.800000,154.800000,130.400000,5.528571,4.993548,4.206452
19,2016,147.200000,148.000000,174.400000,5.075862,4.774194,5.625806
20,2017,16.000000,32.200000,116.800000,0.571429,1.038710,3.767742
21,2018,167.200000,190.000000,96.400000,5.971429,6.129032,3.109677
22,2019,246.000000,365.600000,228.000000,8.785714,11.793548,7.354839
23,2020,239.347505,330.890847,160.462703,8.253362,10.673898,5.176216
24,2021,118.600000,118.600000,81.800000,4.235714,3.825806,2.638710
25,2022,74.400000,74.400000,63.600000,2.657143,2.400000,2.051613

DataFrame da estação Grande Meier construido.
Iniciando construção do DataFrame da estação Anchieta...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.99it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,66.411467,97.366337,119.347862,2.371838,3.140850,3.849931
1,1998,288.914647,301.502351,142.100000,10.318380,9.725882,4.583871
2,1999,139.668173,139.717337,99.967182,4.988149,4.507011,3.224748
3,2000,96.300000,96.500000,68.045730,3.320690,3.112903,2.195024
4,2001,95.541964,95.528226,182.200000,3.412213,3.081556,5.877419
5,2002,178.000000,178.419670,66.133333,6.357143,5.755473,2.133333
6,2003,1.600000,1.600000,184.400000,0.057143,0.051613,5.948387
7,2004,129.000000,129.000000,36.036327,4.448276,4.161290,1.162462
8,2005,69.400000,145.200000,215.200000,2.478571,4.683871,6.941935
9,2006,192.600000,192.600000,91.200000,6.878571,6.212903,2.941935
10,2007,131.000000,131.000000,30.020175,4.678571,4.225806,0.968393
11,2008,253.400000,264.200000,145.000000,8.737931,8.522581,4.677419
12,2009,190.011677,189.874324,177.272211,6.786131,6.124978,5.718458
13,2010,57.707183,132.622521,380.800000,2.060971,4.278146,12.283871
14,2011,34.400000,39.200000,140.400000,1.228571,1.264516,4.529032
15,2012,31.200000,31.200000,120.000000,1.075862,1.006452,3.870968
16,2013,116.800000,125.600000,187.200000,4.171429,4.051613,6.038710
17,2014,26.200000,26.200000,139.200000,0.935714,0.845161,4.490323
18,2015,122.200000,122.200000,201.600000,4.364286,3.941935,6.503226
19,2016,189.071264,191.456989,132.200000,6.519699,6.176032,4.264516
20,2017,59.200000,60.400000,152.400000,2.114286,1.948387,4.916129
21,2018,177.400000,178.600000,85.400000,6.335714,5.761290,2.754839
22,2019,242.400000,328.000000,252.400000,8.657143,10.580645,8.141935
23,2020,343.400000,493.000000,212.400000,11.841379,15.903226,6.851613
24,2021,209.000000,209.000000,120.200000,7.464286,6.741935,3.877419
25,2022,131.800000,131.800000,144.200000,4.707143,4.251613,4.651613

DataFrame da estação Anchieta construido.
Iniciando construção do DataFrame da estação Grota Funda...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.21it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,21.846073,26.359217,95.853078,0.780217,0.850297,3.092035
1,1998,296.200000,296.200000,198.000000,10.578571,9.554839,6.387097
2,1999,70.300000,73.900000,178.900000,2.510714,2.383871,5.770968
3,2000,193.054755,193.018868,94.600000,6.657061,6.226415,3.051613
4,2001,50.400000,50.400000,128.200000,1.800000,1.625806,4.135484
5,2002,126.200000,126.200000,19.826649,4.507143,4.070968,0.639569
6,2003,17.072707,60.269663,319.800000,0.609740,1.944183,10.316129
7,2004,214.000000,214.600000,29.517391,7.379310,6.922581,0.952174
8,2005,94.200000,197.000000,266.400000,3.364286,6.354839,8.593548
9,2006,145.800000,145.800000,124.651313,5.207143,4.703226,4.021010
10,2007,133.299033,133.289456,30.400000,4.760680,4.299660,0.980645
11,2008,118.800000,132.000000,300.411336,4.096552,4.258065,9.690688
12,2009,67.702994,67.654054,129.967735,2.417964,2.182389,4.192508
13,2010,155.288426,229.585210,322.600000,5.546015,7.405975,10.406452
14,2011,19.800000,31.800000,169.400000,0.707143,1.025806,5.464516
15,2012,45.400000,45.400000,125.800000,1.565517,1.464516,4.058065
16,2013,165.600000,178.000000,187.400000,5.914286,5.741935,6.045161
17,2014,31.800000,31.800000,95.600000,1.135714,1.025806,3.083871
18,2015,314.800000,314.800000,132.934006,11.242857,10.154839,4.288194
19,2016,111.200000,134.600000,83.000000,3.834483,4.341935,2.677419
20,2017,32.605907,34.396220,179.000000,1.164497,1.109555,5.774194
21,2018,215.200000,216.600000,170.200000,7.685714,6.987097,5.490323
22,2019,421.600000,534.600000,346.800000,15.057143,17.245161,11.187097
23,2020,338.244880,476.160000,192.896346,11.663617,15.360000,6.222463
24,2021,162.000000,162.000000,70.800000,5.785714,5.225806,2.283871
25,2022,60.800000,60.800000,191.200000,2.171429,1.961290,6.167742

DataFrame da estação Grota Funda construido.
Iniciando construção do DataFrame da estação Campo Grande...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.40it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,58.570711,83.148467,95.379367,2.091811,2.682209,3.076754
1,1998,213.300000,213.300000,124.800000,7.617857,6.880645,4.025806
2,1999,64.047584,64.243116,114.400000,2.287414,2.072359,3.690323
3,2000,139.400144,139.393679,320.400000,4.806902,4.496570,10.335484
4,2001,72.253680,72.248489,118.279489,2.580489,2.330596,3.815467
5,2002,116.800000,116.800000,45.400000,4.171429,3.767742,1.464516
6,2003,8.800000,27.600000,264.400000,0.314286,0.890323,8.529032
7,2004,86.200000,86.200000,64.000000,2.972414,2.780645,2.064516
8,2005,89.000000,151.000000,179.800000,3.178571,4.870968,5.800000
9,2006,93.967940,93.956698,83.135223,3.355998,3.030861,2.681781
10,2007,162.600000,162.600000,47.400000,5.807143,5.245161,1.529032
11,2008,170.216914,180.906445,155.995702,5.869549,5.835692,5.032119
12,2009,77.086804,77.039487,42.859229,2.753100,2.485145,1.382556
13,2010,73.937328,135.427227,275.800000,2.640619,4.368620,8.896774
14,2011,23.200000,30.400000,190.800000,0.828571,0.980645,6.154839
15,2012,74.000000,74.000000,130.200000,2.551724,2.387097,4.200000
16,2013,125.400000,130.000000,203.000000,4.478571,4.193548,6.548387
17,2014,64.200000,64.400000,111.000000,2.292857,2.077419,3.580645
18,2015,119.800000,119.800000,102.200000,4.278571,3.864516,3.296774
19,2016,128.000000,137.600000,101.000000,4.413793,4.438710,3.258065
20,2017,15.600000,19.400000,98.600000,0.557143,0.625806,3.180645
21,2018,117.800000,119.200000,63.400000,4.207143,3.845161,2.045161
22,2019,220.400000,284.600000,195.600000,7.871429,9.180645,6.309677
23,2020,272.587473,340.286061,150.301009,9.399568,10.976970,4.848420
24,2021,137.400000,137.400000,59.600000,4.907143,4.432258,1.922581
25,2022,166.600000,166.600000,97.800000,5.950000,5.374194,3.154839

DataFrame da estação Campo Grande construido.
Iniciando construção do DataFrame da estação Sepetiba...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.23it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,24.724543,60.238424,105.274928,0.883019,1.943175,3.395965
1,1998,160.100000,160.100000,193.400000,5.717857,5.164516,6.238710
2,1999,81.260372,81.254533,127.500000,2.902156,2.621114,4.112903
3,2000,142.400000,142.400000,70.000000,4.910345,4.593548,2.258065
4,2001,110.127273,110.095559,98.326879,3.933117,3.551470,3.171835
5,2002,205.200000,205.200000,103.800000,7.328571,6.619355,3.348387
6,2003,13.209814,41.227670,368.600000,0.471779,1.329925,11.890323
7,2004,202.745441,204.537273,130.600000,6.991222,6.597977,4.212903
8,2005,62.000000,118.600000,191.800000,2.214286,3.825806,6.187097
9,2006,237.976803,237.959704,93.200000,8.499172,7.676119,3.006452
10,2007,148.600000,148.600000,31.600000,5.307143,4.793548,1.019355
11,2008,209.600000,222.200000,231.800000,7.227586,7.167742,7.477419
12,2009,108.282687,108.235849,113.083976,3.867239,3.491479,3.647870
13,2010,179.733830,237.398319,225.000000,6.419065,7.658010,7.258065
14,2011,32.200000,37.800000,162.200000,1.150000,1.219355,5.232258
15,2012,61.600000,61.600000,53.000000,2.124138,1.987097,1.709677
16,2013,93.400000,101.600000,122.400000,3.335714,3.277419,3.948387
17,2014,62.800000,63.400000,121.200000,2.242857,2.045161,3.909677
18,2015,149.110781,149.100067,189.600000,5.325385,4.809680,6.116129
19,2016,65.800000,76.400000,67.000000,2.268966,2.464516,2.161290
20,2017,14.800000,22.600000,93.400000,0.528571,0.729032,3.012903
21,2018,226.599327,227.651469,102.200000,8.092833,7.343596,3.296774
22,2019,283.748640,367.509929,281.032994,10.133880,11.855159,9.065580
23,2020,268.786187,382.714401,204.474832,9.268489,12.345626,6.595962
24,2021,132.800000,132.800000,92.600000,4.742857,4.283871,2.987097
25,2022,54.400000,54.400000,177.000000,1.942857,1.754839,5.709677

DataFrame da estação Sepetiba construido.
Iniciando construção do DataFrame da estação Alto da Boa Vista...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 42.67it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,2002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,2004,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,2008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,2009,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,2010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,2011,39.800000,54.200000,195.662988,1.421429,1.748387,6.311709
15,2012,17.600000,17.600000,254.000000,0.606897,0.567742,8.193548
16,2013,95.800000,104.200000,447.200000,3.421429,3.361290,14.425806
17,2014,88.000000,88.200000,93.400000,3.142857,2.845161,3.012903
18,2015,133.600000,133.600000,215.744990,4.771429,4.309677,6.959516
19,2016,210.400000,222.800000,304.000000,7.255172,7.187097,9.806452
20,2017,20.800000,29.200000,256.800000,0.742857,0.941935,8.283871
21,2018,264.600000,271.400000,181.600000,9.450000,8.754839,5.858065
22,2019,423.600000,608.800000,476.200000,15.128571,19.638710,15.361290
23,2020,534.167482,691.316757,229.309902,18.419568,22.300541,7.397094
24,2021,179.200000,179.200000,73.200000,6.400000,5.780645,2.361290
25,2022,99.200000,99.200000,218.000000,3.542857,3.200000,7.032258

DataFrame da estação Alto da Boa Vista construido.
Iniciando construção do DataFrame da estação Av Brasil Mendanha...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 42.23it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
1   1998    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
2   1999    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
3   2000    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
4   2001    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
5   2002    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
6   2003    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
7   2004    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
8   2005    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
9   2006    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
10  2007    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
11  2008    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
12  2009    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
13  2010    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
14  2011   71.000000   95.200000  177.600000     2.535714   3.070968  5.729032
15  2012   49.800000   49.800000   99.200000     1.717241   1.606452  3.200000
16  2013  109.562798  121.963710  191.464336     3.912957   3.934313  6.176269
17  2014   40.074432   51.887059  155.000000     1.431230   1.673776  5.000000
18  2015  117.060908  117.035642  137.400000     4.180747   3.775343  4.432258
19  2016  161.600000  172.400000  111.600000     5.572414   5.561290  3.600000
20  2017   31.200000   60.800000  136.400000     1.114286   1.961290  4.400000
21  2018  139.600000  141.400000   58.400000     4.985714   4.561290  1.883871
22  2019  202.600000  288.600000  225.800000     7.235714   9.309677  7.283871
23  2020  267.600000  357.400000  162.000000     9.227586  11.529032  5.225806
24  2021  141.104989  141.189771   72.448689     5.039464   4.554509  2.337054
25  2022  114.885480  114.877202   77.652186     4.103053   3.705716  2.504909

DataFrame da estação Av Brasil Mendanha construido.
Iniciando construção do DataFrame da estação Recreio...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:01<00:00, 24.19it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,61.793339,70.758023,57.000000,2.206905,2.282517,1.838710
1,1998,112.200000,112.200000,74.900000,4.007143,3.619355,2.416129
2,1999,90.734821,104.440188,125.713016,3.240529,3.369038,4.055259
3,2000,145.914471,145.894141,42.800000,5.031533,4.706263,1.380645
4,2001,20.000000,20.000000,66.444654,0.714286,0.645161,2.143376
5,2002,145.000000,145.000000,44.400000,5.178571,4.677419,1.432258
6,2003,0.803882,33.546343,267.579825,0.028710,1.082140,8.631607
7,2004,189.800000,190.600000,39.453028,6.544828,6.148387,1.272678
8,2005,76.256654,148.699799,214.544183,2.723452,4.796768,6.920780
9,2006,123.400000,123.400000,121.845657,4.407143,3.980645,3.930505
10,2007,102.676283,102.668905,12.024242,3.667010,3.311900,0.387879
11,2008,116.883848,127.485561,202.800000,4.030478,4.112437,6.541935
12,2009,75.275364,75.229160,101.776189,2.688406,2.426747,3.283103
13,2010,76.113053,128.372254,367.800000,2.718323,4.141040,11.864516
14,2011,45.200000,51.000000,123.200000,1.614286,1.645161,3.974194
15,2012,48.600000,48.600000,80.600000,1.675862,1.567742,2.600000
16,2013,109.600000,134.400000,205.800000,3.914286,4.335484,6.638710
17,2014,51.800000,51.800000,71.400000,1.850000,1.670968,2.303226
18,2015,178.800000,178.800000,114.400000,6.385714,5.767742,3.690323
19,2016,203.000000,225.200000,75.400000,7.000000,7.264516,2.432258
20,2017,19.600000,25.000000,126.600000,0.700000,0.806452,4.083871
21,2018,308.200000,309.400000,182.800000,11.007143,9.980645,5.896774
22,2019,356.800000,487.600000,327.000000,12.742857,15.729032,10.548387
23,2020,274.376879,385.271351,150.501143,9.461272,12.428108,4.854876
24,2021,128.000000,128.000000,75.600000,4.571429,4.129032,2.438710
25,2022,75.200000,75.200000,124.600000,2.685714,2.425806,4.019355

DataFrame da estação Recreio construido.
Iniciando construção do DataFrame da estação Laranjeiras...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 27.37it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2001,64.200000,64.200000,96.400000,2.292857,2.070968,3.109677
5,2002,113.800000,113.800000,48.032280,4.064286,3.670968,1.549428
6,2003,2.245034,28.720437,235.400000,0.080180,0.926466,7.593548
7,2004,165.800000,165.800000,109.000000,5.717241,5.348387,3.516129
8,2005,93.424682,169.020932,191.928985,3.336596,5.452288,6.191258
9,2006,137.003571,136.983871,147.600000,4.892985,4.418835,4.761290
10,2007,95.200000,95.200000,7.000000,3.400000,3.070968,0.225806
11,2008,111.235821,123.701939,263.412429,3.835718,3.990385,8.497175
12,2009,109.000000,109.073203,90.212193,3.892857,3.518490,2.910071
13,2010,83.479091,161.888926,351.000000,2.981396,5.222223,11.322581
14,2011,26.800000,31.600000,115.600000,0.957143,1.019355,3.729032
15,2012,7.000000,7.000000,89.800000,0.241379,0.225806,2.896774
16,2013,76.600000,82.400000,196.800000,2.735714,2.658065,6.348387
17,2014,13.400000,13.600000,87.800000,0.478571,0.438710,2.832258
18,2015,58.600000,58.600000,132.400000,2.092857,1.890323,4.270968
19,2016,229.767898,231.721216,185.400000,7.923031,7.474878,5.980645
20,2017,9.800000,73.800000,148.200000,0.350000,2.380645,4.780645
21,2018,173.200000,183.800000,106.200000,6.185714,5.929032,3.425806
22,2019,211.200000,295.200000,204.800000,7.542857,9.522581,6.606452
23,2020,330.675108,392.727860,112.458073,11.402590,12.668641,3.627680
24,2021,124.400000,124.400000,51.400000,4.442857,4.012903,1.658065
25,2022,80.800000,80.800000,75.800000,2.885714,2.606452,2.445161

DataFrame da estação Laranjeiras construido.
Iniciando construção do DataFrame da estação Sao Cristovao...

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 28.31it/s]

    Anos  FevNatural       Fev31       Março  FevNaturalN     Fev31N    MarçoN
0   1997    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
1   1998    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
2   1999    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
3   2000    0.000000    0.000000    0.000000     0.000000   0.000000  0.000000
4   2001   47.835539   47.832102  109.400000     1.708412   1.542971  3.529032
5   2002  112.083395  112.083395   24.563107     4.002978   3.615593  0.792358
6   2003    2.565846   18.903778  225.600000     0.091637   0.609799  7.277419
7   2004  137.000000  137.800000  120.000000     4.724138   4.445161  3.870968
8   2005  139.653242  447.829314  156.610225     4.987616  14.446107  5.051943
9   2006   74.176808   75.073478   59.994181     2.649172   2.421725  1.935296
10  2007   87.000000   87.000000    4.600000     3.107143   2.806452  0.148387
11  2008  130.093324  142.695769  176.578002     4.485977   4.603089  5.696065
12  2009   75.200000   75.200000  102.600000     2.685714   2.425806  3.309677
13  2010   32.400000   63.600000  281.894452     1.157143   2.051613  9.093369
14  2011   47.600000   53.000000   62.800000     1.700000   1.709677  2.025806
15  2012   24.817803   24.816655   82.310633     0.855786   0.800537  2.655182
16  2013   78.600000   83.400000  214.800000     2.807143   2.690323  6.929032
17  2014   25.400000   25.400000   83.000000     0.907143   0.819355  2.677419
18  2015   95.800000   95.800000  113.200000     3.421429   3.090323  3.651613
19  2016  236.200000  236.400000  126.200000     8.144828   7.625806  4.070968
20  2017   17.600000   21.800000  109.000000     0.628571   0.703226  3.516129
21  2018  200.600000  212.000000   51.600000     7.164286   6.838710  1.664516
22  2019  250.400000  361.600000  252.400000     8.942857  11.664516  8.141935
23  2020  336.483453  426.373082  136.984118    11.602878  13.753970  4.418843
24  2021  115.200000  115.200000   71.448016     4.114286   3.716129  2.304775
25  2022   70.600000   70.600000  117.000000     2.521429   2.277419  3.774194

DataFrame da estação Sao Cristovao construido.
Iniciando construção do DataFrame da estação Tijuca Muda...

 62%|█████████████████████████████████████████████████▊                               | 16/26 [00:00<00:00, 112.25it/s]

A estação Tijuca Muda, no ano 1997, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 1998, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 1999, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2000, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2001, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2002, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2003, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2004, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2005, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2006, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2007, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2008, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2009, não possui algum dos meses necessários
A estação Tijuca Muda, no ano 2010, não possui algum dos meses necessários

100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:00<00:00, 46.66it/s]

,Anos,FevNatural,Fev31,Março,FevNaturalN,Fev31N,MarçoN
0,1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,2002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,2004,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,2008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,2009,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,2010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,2011,60.429249,66.028049,127.600000,2.158187,2.129937,4.116129
15,2012,14.800000,14.800000,114.600000,0.510345,0.477419,3.696774
16,2013,101.200000,106.600000,398.000000,3.614286,3.438710,12.838710
17,2014,34.025279,34.022834,114.600000,1.215189,1.097511,3.696774
18,2015,97.200000,97.265279,132.889307,3.471429,3.137590,4.286752
19,2016,170.722469,174.316991,199.333961,5.886982,5.623129,6.430128
20,2017,20.415167,22.415044,131.688500,0.729113,0.723066,4.248016
21,2018,252.787807,252.769644,55.036987,9.028136,8.153859,1.775387
22,2019,263.395688,401.869711,353.037256,9.406989,12.963539,11.388299
23,2020,316.785767,413.631025,148.099529,10.923647,13.342936,4.777404
24,2021,148.600000,148.600000,76.600000,5.307143,4.793548,2.470968
25,2022,92.400000,92.400000,232.200000,3.300000,2.980645,7.490323

DataFrame da estação Tijuca Muda construido.
33 DataFrames construidos. :)

## Gerando o total de Chuva anual por mes de cada Estação:

A criação dessa tabela não se faz necessária pela necessidade dela na análise, mas tão somente para as construções visuais, casa se faça necessário analisar os totais de chuva dos meses.

In [20]:
# Lista com os nomes dos meses:
meses_name = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
              'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']

# Criando os DataFrames:
qtd = 0 # Contagem das estações:
for estacao in tqdm(estacoes): 
    #Criando o Dicionário:
    meses_dict = {mes: [] for mes in meses_name}

    # Criação do dicionário que associa o número do mês ao nome do mês:
    meses_dict_nomes = {mes: nome for mes, nome in zip(meses, meses_name)}
    
    print(f'Iniciando construção do DataFrame da estação {estacao}...')
    arquivo = trata_palavra(estacao) # Tratando as entradas
    qtd += 1 # Essa contagem aqui serve só no final, pra uma informação visual se foi tudo certinho.
    estacao_dir = os.path.join(diretorio_tratado, estacao)
    
    for ano in anos:
        for mes in meses:
            nome_mes = meses_dict_nomes[mes] # Obtem o nome do mês a partir do número do mês
            try:
                df_mes = pd.read_fwf(estacao_dir+'\\'+arquivo+'_'+ano+mes+'_Plv.txt', 
                                         colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                                         infer_datetime_format=True, enconding='iso-8850-1',
                                         names = colunas)
                
                # somatório do respectivo Mes:
                df_mes['15 min'] = pd.to_numeric(df_mes['15 min'], errors='coerce')
                df_mes['15 min'].fillna(df_mes['15 min'].mean(), inplace=True)
                soma = df_mes['15 min'].sum()
                meses_dict[nome_mes].append(soma)
            except:
                meses_dict[nome_mes].append(defaut)
                #print(f'A estação {estacao}, no ano {ano}, não possui algum dos meses necessários')
    print(f'DataFrame da estação {estacao} finalizado e exportado!')        
    df = pd.DataFrame(meses_dict)
    df_anos = pd.DataFrame({'Anos':anos})
    df = pd.concat([df_anos,df], axis=1)
    df.to_csv(diretorio_totais+'\\'+arquivo+'_Totais.csv', index = False)
display(df)

  0%|                                                                                           | 0/33 [00:00<?, ?it/s]

Iniciando construção do DataFrame da estação Vidigal...

  3%|██▌                                                                                | 1/33 [00:05<02:56,  5.51s/it]

DataFrame da estação Vidigal finalizado e exportado!
Iniciando construção do DataFrame da estação Urca...

  6%|█████                                                                              | 2/33 [00:10<02:50,  5.49s/it]

DataFrame da estação Urca finalizado e exportado!
Iniciando construção do DataFrame da estação Rocinha...

  9%|███████▌                                                                           | 3/33 [00:16<02:43,  5.43s/it]

DataFrame da estação Rocinha finalizado e exportado!
Iniciando construção do DataFrame da estação Tijuca...

 12%|██████████                                                                         | 4/33 [00:21<02:36,  5.41s/it]

DataFrame da estação Tijuca finalizado e exportado!
Iniciando construção do DataFrame da estação Santa Teresa...

 15%|████████████▌                                                                      | 5/33 [00:27<02:32,  5.43s/it]

DataFrame da estação Santa Teresa finalizado e exportado!
Iniciando construção do DataFrame da estação Copacabana...

 18%|███████████████                                                                    | 6/33 [00:32<02:25,  5.40s/it]

DataFrame da estação Copacabana finalizado e exportado!
Iniciando construção do DataFrame da estação Grajau...

 21%|█████████████████▌                                                                 | 7/33 [00:38<02:21,  5.44s/it]

DataFrame da estação Grajau finalizado e exportado!
Iniciando construção do DataFrame da estação Ilha do Governador...

 24%|████████████████████                                                               | 8/33 [00:43<02:16,  5.47s/it]

DataFrame da estação Ilha do Governador finalizado e exportado!
Iniciando construção do DataFrame da estação Penha...

 27%|██████████████████████▋                                                            | 9/33 [00:49<02:11,  5.47s/it]

DataFrame da estação Penha finalizado e exportado!
Iniciando construção do DataFrame da estação Madureira...

 30%|████████████████████████▊                                                         | 10/33 [00:54<02:04,  5.42s/it]

DataFrame da estação Madureira finalizado e exportado!
Iniciando construção do DataFrame da estação Iraja...

 33%|███████████████████████████▎                                                      | 11/33 [00:59<01:58,  5.40s/it]

DataFrame da estação Iraja finalizado e exportado!
Iniciando construção do DataFrame da estação Bangu...

 36%|█████████████████████████████▊                                                    | 12/33 [01:05<01:53,  5.39s/it]

DataFrame da estação Bangu finalizado e exportado!
Iniciando construção do DataFrame da estação Piedade...

 39%|████████████████████████████████▎                                                 | 13/33 [01:10<01:49,  5.46s/it]

DataFrame da estação Piedade finalizado e exportado!
Iniciando construção do DataFrame da estação Tanque...

 42%|██████████████████████████████████▊                                               | 14/33 [01:16<01:43,  5.44s/it]

DataFrame da estação Tanque finalizado e exportado!
Iniciando construção do DataFrame da estação Saude...

 45%|█████████████████████████████████████▎                                            | 15/33 [01:21<01:37,  5.43s/it]

DataFrame da estação Saude finalizado e exportado!
Iniciando construção do DataFrame da estação Jardim Botanico...

 48%|███████████████████████████████████████▊                                          | 16/33 [01:27<01:32,  5.47s/it]

DataFrame da estação Jardim Botanico finalizado e exportado!
Iniciando construção do DataFrame da estação Barrinha...

 52%|██████████████████████████████████████████▏                                       | 17/33 [01:29<01:11,  4.47s/it]

DataFrame da estação Barrinha finalizado e exportado!
Iniciando construção do DataFrame da estação Cidade de Deus...

 55%|████████████████████████████████████████████▋                                     | 18/33 [01:34<01:11,  4.75s/it]

DataFrame da estação Cidade de Deus finalizado e exportado!
Iniciando construção do DataFrame da estação Riocentro...

 58%|███████████████████████████████████████████████▏                                  | 19/33 [01:39<01:09,  4.93s/it]

DataFrame da estação Riocentro finalizado e exportado!
Iniciando construção do DataFrame da estação Guaratiba...

 61%|█████████████████████████████████████████████████▋                                | 20/33 [01:45<01:06,  5.12s/it]

DataFrame da estação Guaratiba finalizado e exportado!
Iniciando construção do DataFrame da estação Grajau Jacarepagua...

 64%|████████████████████████████████████████████████████▏                             | 21/33 [01:48<00:54,  4.51s/it]

DataFrame da estação Grajau Jacarepagua finalizado e exportado!
Iniciando construção do DataFrame da estação Santa Cruz...

 67%|██████████████████████████████████████████████████████▋                           | 22/33 [01:54<00:53,  4.82s/it]

DataFrame da estação Santa Cruz finalizado e exportado!
Iniciando construção do DataFrame da estação Grande Meier...

 70%|█████████████████████████████████████████████████████████▏                        | 23/33 [01:59<00:49,  4.99s/it]

DataFrame da estação Grande Meier finalizado e exportado!
Iniciando construção do DataFrame da estação Anchieta...

 73%|███████████████████████████████████████████████████████████▋                      | 24/33 [02:04<00:45,  5.10s/it]

DataFrame da estação Anchieta finalizado e exportado!
Iniciando construção do DataFrame da estação Grota Funda...

 76%|██████████████████████████████████████████████████████████████                    | 25/33 [02:10<00:41,  5.18s/it]

DataFrame da estação Grota Funda finalizado e exportado!
Iniciando construção do DataFrame da estação Campo Grande...

 79%|████████████████████████████████████████████████████████████████▌                 | 26/33 [02:15<00:36,  5.25s/it]

DataFrame da estação Campo Grande finalizado e exportado!
Iniciando construção do DataFrame da estação Sepetiba...

 82%|███████████████████████████████████████████████████████████████████               | 27/33 [02:21<00:31,  5.32s/it]

DataFrame da estação Sepetiba finalizado e exportado!
Iniciando construção do DataFrame da estação Alto da Boa Vista...

 85%|█████████████████████████████████████████████████████████████████████▌            | 28/33 [02:24<00:23,  4.63s/it]

DataFrame da estação Alto da Boa Vista finalizado e exportado!
Iniciando construção do DataFrame da estação Av Brasil Mendanha...

 88%|████████████████████████████████████████████████████████████████████████          | 29/33 [02:27<00:16,  4.14s/it]

DataFrame da estação Av Brasil Mendanha finalizado e exportado!
Iniciando construção do DataFrame da estação Recreio...

 91%|██████████████████████████████████████████████████████████████████████████▌       | 30/33 [02:32<00:13,  4.51s/it]

DataFrame da estação Recreio finalizado e exportado!
Iniciando construção do DataFrame da estação Laranjeiras...

 94%|█████████████████████████████████████████████████████████████████████████████     | 31/33 [02:37<00:09,  4.63s/it]

DataFrame da estação Laranjeiras finalizado e exportado!
Iniciando construção do DataFrame da estação Sao Cristovao...

 97%|███████████████████████████████████████████████████████████████████████████████▌  | 32/33 [02:42<00:04,  4.67s/it]

DataFrame da estação Sao Cristovao finalizado e exportado!
Iniciando construção do DataFrame da estação Tijuca Muda...

100%|██████████████████████████████████████████████████████████████████████████████████| 33/33 [02:44<00:00,  4.99s/it]

DataFrame da estação Tijuca Muda finalizado e exportado!

,Anos,janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro
0,1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,2002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,2003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,2004,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2005,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,2008,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,2009,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,2010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,2011,0.000000,60.429249,127.600000,402.200000,148.200000,55.400000,42.200000,39.000000,75.600000,138.786730,92.000000,189.200000
15,2012,204.200000,14.800000,114.600000,106.800000,91.000000,129.800000,49.600000,18.400000,142.600000,69.600000,87.800000,24.000000
16,2013,390.263692,101.200000,398.000000,68.600000,173.000000,39.400000,140.235532,39.826765,69.047950,89.000000,134.507714,288.193679
17,2014,51.234432,34.025279,114.600000,167.316192,27.618561,83.057679,87.258642,38.826093,40.400000,51.034343,77.453787,44.629993
18,2015,92.862408,97.200000,132.889307,107.474635,51.434566,133.292564,11.407666,9.600000,86.860320,26.217643,144.100069,72.040914
19,2016,202.936382,170.722469,199.333961,9.426184,50.067295,64.800000,11.207532,64.043040,49.834607,57.038384,152.706046,150.600000
20,2017,132.689173,20.415167,131.688500,176.322446,34.200000,345.200000,55.237122,68.245864,10.807505,42.628687,98.600000,104.870477
21,2018,287.593275,252.787807,55.036987,72.400000,32.221654,40.059009,21.257143,81.764848,60.842252,108.272764,192.000000,64.643443
22,2019,51.034297,263.395688,353.037256,291.202224,140.800000,115.680334,29.019502,63.842905,96.667130,43.000000,150.504517,98.866443
23,2020,77.809164,316.785767,148.099529,18.952790,106.071284,19.627260,60.800000,160.000000,199.200000,150.000000,116.800000,259.800000
24,2021,87.200000,148.600000,76.600000,129.800000,124.400000,32.000000,18.200000,83.800000,37.600000,128.400000,101.200000,321.400000
25,2022,243.200000,92.400000,232.200000,293.607789,80.486815,73.851286,105.600000,49.400000,46.112360,0.000000,0.000000,0.000000

Uma observação, olha que interessante uma outra forma de contruir uma lista no python...
jan, fev, mar, abr, mai, jun, jul, ago, sete, out, nov, dez = [], [], [], [], [], [], [], [], [], [], [], []

Cada elemento desses é uma lista. Não usei aqui, mas é uma forma interessante e curiosa de se criar listas. Diferentão, gostei.. hahaha.