In [11]:
#Importações:
import pandas as pd

In [12]:
#Listas Necessárias
anos = ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
        '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016',
        '2017','2018','2019','2020','2021','2022']
colunas = ['Dia', 'Hora','HBV','15 min','01 h','04 h','24 h','96 h']
ano_bissexto = ['2000', '2004', '2008', '2012', '2016', '2020']

In [14]:
#Extração - Esse código extrai a normalização de fevereiro e março por estação:
Fev = []
Mar = []
estacao = input('Estação:\n')
tamanho = estacao.split()
if len(tamanho) != 1:
    arquivo = ('_'.join(tamanho)).lower()
else:
    arquivo = pasta.lower()
for ano in anos:
    print(ano)
    fev = pd.read_fwf(r'D:\Estudo\Oficina de Pesquisa\teste'+'\\'+arquivo+'_'+ano+'02_Plv.txt', 
                      colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                      infer_datetime_format=True, enconding='iso-8850-1',
                      names = colunas)
    mar = pd.read_fwf(r'D:\Estudo\Oficina de Pesquisa\teste'+'\\'+arquivo+'_'+ano+'03_Plv.txt',
                      colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                      infer_datetime_format=True, enconding='iso-8850-1',
                      names = colunas)
    
    #Fev
    fev[fev['15 min'] == 'ND'] = 0 
    fev[['15 min']] = fev[['15 min']].apply(pd.to_numeric)
    soma = fev['15 min'].sum()
    if ano in ano_bissexto:
        norm =  soma/29
        Fev.append(norm)
    else:
        norm = soma/28
        Fev.append(norm)

    #FevNormal
    mar[mar['15 min'] == 'ND'] = 0 
    mar[['15 min']] = mar[['15 min']].apply(pd.to_numeric)
    soma = mar['15 min'].sum()
    norm = soma/31
    Mar.append(norm)
    
    #Exportando DataFrame em csv:
    lista_de_tuplas = list(zip(anos,Fev,Mar))
    df = pd.DataFrame(lista_de_tuplas, columns=['Anos','Fevereiro','Março'])
    df.to_csv(r'D:\Estudo\Oficina de Pesquisa\teste'+'\\'+estacao+'_FevMarçoN.csv', index=False)
    
df

Estação:
Campo Grande
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

    Anos  Fevereiro      Março
0   1997   2.042857   3.006452
1   1998   7.617857   4.025806
2   1999   2.285714   3.690323
3   2000   4.803448  10.335484
4   2001   2.578571   3.812903
5   2002   4.171429   1.464516
6   2003   0.314286   8.529032
7   2004   2.972414   2.064516
8   2005   3.178571   5.800000
9   2006   3.328571   2.670968
10  2007   5.807143   1.529032
11  2008   5.675862   4.722581
12  2009   2.735714   1.374194
13  2010   2.635714   8.896774
14  2011   0.828571   6.154839
15  2012   2.551724   4.200000
16  2013   4.478571   6.548387
17  2014   2.292857   3.580645
18  2015   4.278571   3.296774
19  2016   4.413793   3.258065
20  2017   0.557143   3.180645
21  2018   4.207143   2.045161
22  2019   7.871429   6.309677
23  2020   9.379310   4.845161
24  2021   4.907143   1.922581
25  2022   5.950000   3.154839

In [ ]:
df